{% load cms_tags menu_tags static %}
<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}QuickHellou | Login{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static '/app/css/quickhellou.css' %}" />
    <script src="{% static '/app/js/quickhellou.js' %}"></script>
</head>

<body>
    <div class="fct container">
        <div class="fcol login">
            <div class="m-logo">
                <div class="m-logo__image">
                    <img src="{% static '/app/images/hellou-quick.svg' %}" alt="quickhellou logo">
                </div>
                <div class="m-logo__description">
                    <p><span>login in</span>&nbsp;to your account</p>
                </div>
            </div>
            <div class="frc">
                <div class="m-form login__container">
                    <form action="{{ app_path }}" method="post" class="fcol" validate>{% csrf_token %}
                        <div class="mdc-text-field mdc-text-field--outlined login__email">
                            <input type="text" id="login-input" name="username" class="mdc-text-field__input login__text login__input" required>
                            <label for="login-input" class="mdc-floating-label login__text login__label">Work e-mail</label>
                            <div class="mdc-notched-outline">
                                <svg>
                                    <path class="mdc-notched-outline__path" />
                                </svg>
                            </div>
                            <div class="mdc-notched-outline__idle"></div>
                        </div>
                        <div class="mdc-text-field mdc-text-field--outlined login__password">
                            {{ form.password.errors }}
                            {{ form.password.label_tag }} {{ form.password }}
                            <input type="password" id="password-input" class="mdc-text-field__input login__text login__input" required>
                            <label for="password-input" class="mdc-floating-label login__text login__label">Password</label>
                            <div class="mdc-notched-outline">
                                <svg>
                                    <path class="mdc-notched-outline__path" />
                                </svg>
                            </div>
                            <div class="mdc-notched-outline__idle"></div>
                        </div>


                        <div class="m-form__space"></div>
                        <button type="submit" class="m-form__button--login login__submit">Log In</button>
                        <div class="fc m-form__forgot-password">
                            <a class="m-form__link--forgot-password login__forgot-password" target="/forgot-password.html">Forgot
                                Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% block js %}{% endblock %}
</body>

</html>