// footer
footer {
  z-index:203;
  background-color: $color--dark-blue;
  padding: 10px;
  @media (min-width: $s-md) {
    padding: 15px 20px;
  }
}

a.footer__button-have-problem {
  display: none;
  white-space: nowrap;
  color: white;
  font-size: .875rem;
  font-weight: 400;
  margin-right: 28px;
  line-height: 1em;
  text-decoration: underline;
  cursor: pointer;
  @media (min-width: $s-md) {
    display:block;
  }
}

.footer__button--hangup {
  @media (min-width: $s-lg) {
    display:none;
  }
}

.button--footer__icon {
  width: 20px;
  display: block;
}

.button-with-text--footer__icon {
  margin-right: 10px;
}

.button--footer {
  @include df-lc();
  white-space: nowrap;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: .95rem;
  width: auto;
  margin-right: 10px;
  cursor: pointer;
  @media (min-width: $s-lg) {
    width:auto;
    height: auto;
  }
}

.footer__content--right {
  @media (min-width: $s-md) {
    @include df-lb();
    @include df-row();
  }
}

.room-link {
  display: none;
  color: white;
  white-space: nowrap;
  font-size: .75rem;
  font-weight: 400;
  margin-bottom: 5px;
  @media (min-width: $s-md) {
    display: block;
  }
}

.room-link-href {
  color: #4285f4;
  text-decoration: underline;
}

.quickhellou-logo-footer {
  height: 27px;
  @media (min-width: $s-md) {
    height: 40px;
  }
}

.button--share-screen.js-disabled {
  display: none;
}

.button--share-screen.js-locked {
  pointer-events: none;
}