body *,
body:after,
body:before {
  box-sizing: border-box;
}

body {
  background: $color--dark-blue;
}
html,
body {
  /*height:100%;*/
  margin:0;
  padding:0;
}

div.main {
  min-height:100%;
  transition: opacity .2s linear; 
}

h1,
h3 {
  color: white;
  font-weight: 100;
  line-height: 1em;
}

h1 {
  font-size: 2.75rem;
  margin-bottom: 40px;
}

h3 {
  font-size: 1.5rem;
}

h3.single {
  margin-bottom: 16px;
}

h4 {
  margin-bottom: 10px;
}

input[type='text'],
body,
button,
textarea {
  font-family: 'Raleway', sans-serif;
}

section {
 display: none;
}

section.active,
section.js-active {
  display: block;
 }

div.main.js-visible {
  display: flex;
  opacity:1!important;
}