{% load static %}

<div class="df df-f1 flc fcol calendar-day_row">

    <div id="calendar-day_{{day}}" class="df df-f1 flc frow calendar-day calendar-day_{{day}}">
        <input class="day_checkbox" type="checkbox" name="day_{{day}}" id="day_{{day}}" {% if day != 'saturday' and day != 'sunday'  %} checked {% endif %}/>
        <label for="day_{{day}}" class="calendar-day-label">{{day}}</label>
    
        <div id="time_rows_{{day}}" class="time_rows df flc fcol df-f1">
            {% include "./time_row.html" with day=day %}
        </div>
        
        <div class="df flc df-f1 time-row-desc">
            <p>
                Non Working Day
            </p>
        </div>
    </div>
    <div class="df frc frow calendar_break_row">
        <a href="#" onclick="javascript:addTimeRow('{{day}}');" target="_self" class="time-break_button">+ Add Time Slot</a>
    </div>
  </div>