{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Calendar{% endblock %}
{% block page_title %}Calendar{% endblock %}

{% block nav %}
    {% include "./nav_menu.html" with menu_selected='calendar' %}
{% endblock %}

{% block content %}
<div class="df flc frow top-header__section">
  <img class="top-header-block__photo" src="{% static '/images/dashboard-calendar.png' %}">
  <p class="fc top-header-block__text">Calendar</p>  
</div>

<div class="wrapper wrapper--thin wrapper--profile">
  <p class="form__header">No calendar yet.</p>
</div>

{% endblock %}