{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Appointments{% endblock %}
{% block page_title %}Appointments{% endblock %}

{% block nav %}
  {% include "./nav_menu.html" with menu_selected='appointments' %}   
{% endblock %}

{% block content %}
<div class="df flc frow top-header__section">
  <img class="top-header-block__photo" src="{% static '/images/dashboard-appointments.png' %}">
  <p class="fc top-header-block__text">Appointments</p>  
</div>

<div class="flc widgets__top-header">

  <p>Your appointments: {{ communications|length }}</p>
  <p>Active guests: <span class="active-guests">0</span></p>
</div>
{% include "messages.html" %}
<div class="fcol widget-list">
          <div class="flc widget-list__header">
            <div class="widget-list__field widget-list__field--id">ID</div>
            <div class="fc widget-list__field widget-list__field--name">Name</div>
            <div class="fc widget-list__field widget-list__field--contact">Contact</div>
            <div class="fc widget-list__field widget-list__field--url">URL</div>
            <div class="fc widget-list__field view-list__field--status widget-list__field--status">Status</div>
            <div class="fc widget-list__field widget-list__field--last-change">Last Change</div>
            <div class="f1"></div>
            <div class="frc widget-list__field dao-list__mod-bar">
              <a class="list-header__element list-header__button call-list__button--activate console-button console-button-green" target="_self">Open Session</a>
              <p class="list-header__element list-header__text com-list__text--connecting js-hidden" target="_self">Connecting..</p>
              <p class="list-header__element list-header__text com-list__text--failure js-hidden" target="_self">Connection failure.</p>
              <a class="list-header__element list-header__button call-list__button--deactivate js-hidden console-button" target="_self">Close Session</a>
            </div>
          </div>
          <div class="fcol view-list__content call-list__content">
            <div class="loader loader--inbox"></div>
          </div>
</div>

{% endblock %}