{% load static %}

<nav class="fcol mdc-list aside__navi-list">
    <a class="aside__navi-item {% if menu_selected == 'home' %}aside__navi-item--activated{% endif %}" href="{% url 'dashboard:home' %}">
      Dashboard<span></span>
    </a>
    <a class="aside__navi-item {% if menu_selected == 'communications' %}aside__navi-item--activated{% endif %}" href="{% url 'dashboard:communications' %}">
      Communications
    </a>
    {% if user.is_default_admin %}
    <a class="aside__navi-item {% if menu_selected == 'widgets' %}aside__navi-item--activated{% endif %}" href="{% url 'dashboard:widgets' %}">
      Widgets
    </a>
    <a class="aside__navi-item {% if menu_selected == 'team' %}aside__navi-item--activated{% endif %}" href="{% url 'dashboard:team' %}">
      Team
    </a>
    <!--
    <a class="aside__navi-item" href="{% url 'dashboard:billing' %}">
      Billing
    </a>
    -->
    <a class="aside__navi-item aside__navi-item {% if menu_selected == 'settings' %}aside__navi-item--activated{% endif %}" href="{% url 'dashboard:settings' %}">
      Settings
    </a>
    {% endif %}
</nav>