{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Edit Widget Template{% endblock %}
{% block page_title %}Edit Widget Template{% endblock %}

{% block nav %}
  {% include "./nav_menu.html" with menu_selected='settings' %}   
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/widget.css' %}"/>
{% endblock %}

{% block content %}

<div class="fc">
  <div class="wrapper wrapper--thin wrapper--profile">
    <div class="fcol">
      <div class="form--settings__form-container form-container">
        
        <div class="flc form__header">          
          <div class="form__header_text">
            Edit<br/>
            <span class="form__header_subtext">Widget Template #{{ widget_template.id}}</span>  
          </div>
        </div>

        <form id="delIconForm" action="{% url 'dashboard:widget_template_del_icon' widget_template_id=widget_template.id %}" method="post" novalidate enctype="multipart/form-data">
          {% csrf_token %}          
        </form>

        <form class="fcol site-form form--profile" action="{% url 'dashboard:widget_template_edit' widget_template_id=widget_template.id %}" method="post"
          novalidate enctype="multipart/form-data">
          {% csrf_token %}
          {% if request.GET.next %}
          <input type="hidden" name="next" value="{{request.GET.next}}">
          {% endif %}
          {% include "messages.html" %}
          <div class="fcol form__content_widget_edit">
            <div class="errornote">
              {{ form.name.errors }}
            </div>
            <div class="mdc-text-field mdc-text-field--outlined form__field form__field--upper signup__email">
              <input type="text" id="name-input" name="name" class="mdc-text-field__input form__text form--signup__text form__input form--signup__input "
                value="{{ widget_template.name }}" required>
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <label for="name-input" class="mdc-floating-label form__text form--signup__text  form__label form--signup__label">Name</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </div>

            <div class="form__field--upper widget">

              <p class="form__header">Widget Outlook</p>
              <div class="f1"></div>

              <div class="fcol content-box__content">
                  <div class="flc form__field--upper">
                    <div class="flc">
                    <p class="form__subheader form__subheader--column">Background Color</p>
                    </div>

                    <div class="color-dot-wrap"></div>

                    <div class="color-dot" style="background-color: #c90000;">
                        <label class="mdc-text-field">
                          <input class="mdc-text-field__input df color-button widget-color-field" type="hidden" name="background_color" value="{% if widget_template.background_color %}{{widget_template.background_color}}{% else %}#7FD100{% endif %}" data-coloris>
                        </label>
                    </div>      

                  </div>

                  <div class="errornote">
                      {{ form.icon.errors }}
                  </div>
                    
                  <div class="flc form__field--upper">
                    <div class="fcol df-f1">
                      <div class="flc content-box__block">
                      <p class="form__subheader form__subheader--column">Icon file</p>
                      <p class="">
                        <a href="/media/{{ widget_template.icon }}" class="icon-name-label" target="_blank">{{widget_template.icon}}</a>
                      </p>
                      </div>

                      <div class="frc content-box__controls">
                          
                        
                          <a class="link-button console-button console-button_clear-icon {% if widget_template.icon == '/images/logo.svg' %}js-hidden{% endif %}" href="#" onclick="javascript:document.getElementById('delIconForm').submit();" target="_self">
                            <img class="console-button--icon" src="{% static '/images/delete-white.svg' %}">Clear Icon
                          </a>
                     
                          <a class="link-button console-button console-button_browse-icon {% if widget_template.icon != '/images/logo.svg' %}js-hidden{% endif %}" href="#" onclick="javascript:document.getElementById('icon-input').click();" target="_self">
                            <img class="console-button--icon" src="{% static '/images/photo-add-white.svg' %}">Browse Icon
                          </a>


                        
                      </div>
          
                      <div class="mdc-text-field mdc-text-field--outlined form__field signup__thumbnail">
                        <input type="file" id="icon-input" name="icon" class="mdc-text-field__input form__text form--signup__text form__input form--signup__input" onchange="javascript:onChangeBrowseIcon(this);">
                        <div class="mdc-notched-outline">
                          <div class="mdc-notched-outline__leading"></div>
                          <div class="mdc-notched-outline__notch">
                            <label for="icon-input" class="mdc-floating-label form__text form--signup__text  form__label form--signup__label">Icon</label>
                          </div>
                          <div class="mdc-notched-outline__trailing"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="fc outlook">

                    <div class="qh-root">
                      {% include "../embed/widget_base.html"  with icon=widget_template.icon background_color=widget_template.background_color %}
                    </div>                    

                  </div>
                </div>
              </div>
            </div>  
          </div>
          <div class="fc">
            <div class="flc form__ui">
              <div>
                <a href="{% url 'dashboard:templates' %}">
                  <input type="button" class="form__button" value="Back">
                </a>
              </div>
              <div>
                <input type="submit" class="form__button form__submit form--dashboard__submit save__submit" value="Save">
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}