<div class="fcol qh_video-ui_form">
  <div class="flc el-group qh_tight">
    <div>
      <div class="active-user-form__thumbnail avatar"></div> 
    </div>
    <div class="flc qh-widget-ext__contact-form-body">
      <div class="fcol">
        <p class="widget__form-label active-user__form-label">Hi there! I&#39m <span class="active-user__admin-name"></span>!</p>
        <p class="widget__form-sublabel active-user__form-sublabel">Happy to chat with you!</p>
      </div>
    </div>
  </div>
  <!-- active operator form replacable -->
  <div class="f1 fcol qh_video-ui_replace">
    {% include "embed/active_operator_init_form.html" %}
  </div>
  <!-- end of active operator form replacable -->
</div>