{% extends 'dashboard/base.html' %}
{% load sekizai_tags static %}

{% block title %}Communications{% endblock %}
{% block page_title %}Communications{% endblock %}

{% block nav %}
<nav class="fcol mdc-list aside__navi-list">
  <a class="aside__navi-item" href="{% url 'dashboard:home' %}">
    Dashboard
  </a>
  <a class="aside__navi-item aside__navi-item--activated" href="{% url 'dashboard:communications' %}">
    Communications<span></span>
  </a>
  {% if user.is_default_admin %}
  <a class="aside__navi-item" href="{% url 'dashboard:widgets' %}">
    Widgets
  </a>
  <a class="aside__navi-item" href="{% url 'dashboard:team' %}">
    Team
  </a>
  <a class="aside__navi-item" href="{% url 'dashboard:billing' %}">
    Billing
  </a>
  <a class="aside__navi-item aside__navi-item" href="{% url 'dashboard:settings' %}">
    Settings
  </a>
  {% endif %}
</nav>
{% endblock %}

{% block content %}
<div class="flc widgets__top-header">
          <p>Your communications: {{ communications|length }}</p>
          <p>Active guests: <span class="active-guests">0</span></p>
          <a>Change plan for more</a>
        </div>
        <div class="fcol widget-list">
          <div class="flc widget-list__header">
            <div class="widget-list__field widget-list__field--id">ID</div>
            <div class="fc widget-list__field widget-list__field--url">URL</div>
            <div class="fc widget-list__field view-list__field--status widget-list__field--status">Status</div>
            <div class="fc widget-list__field widget-list__field--last-change">Creation Time</div>
            <div class="f1"></div>
            <div class="frc widget-list__field dao-list__mod-bar">
              <a class="list-header__element list-header__button call-list__button--activate" target="_self">Open Session</a>
              <p class="list-header__element list-header__text com-list__text--connecting js-hidden" target="_self">Connecting..</p>
              <p class="list-header__element list-header__text com-list__text--failure js-hidden" target="_self">Connection failure.</p>
              <a class="list-header__element list-header__button call-list__button--deactivate js-hidden" target="_self">Close Session</a>
            </div>
          </div>
          <div class="fcol view-list__content call-list__content">
            <!-- Call record list. -->      
          </div>
        </div>

{% endblock %}