{% extends 'dashboard/base.html' %}
{% load sekizai_tags static %}

{% block title %}Team{% endblock %}
{% block page_title %}Team{% endblock %}

{% block nav %}
<nav class="fcol mdc-list aside__navi-list">
  <a class="aside__navi-item" href="{% url 'dashboard:home' %}">
    Dashboard
  </a>
  <a class="aside__navi-item" href="{% url 'dashboard:communications' %}">
    Communications
  </a>
  <a class="aside__navi-item" href="{% url 'dashboard:widgets' %}">
    Widgets
  </a>
  <a class="aside__navi-item aside__navi-item--activated" href="{% url 'dashboard:team' %}">
    Team<span></span>
  </a>
  <a class="aside__navi-item" href="{% url 'dashboard:billing' %}">
    Billing
  </a>
  <a class="aside__navi-item aside__navi-item" href="{% url 'dashboard:settings' %}">
    Settings
  </a>
</nav>
{% endblock %}

{% block content %}
<div class="flc widgets__top-header">
  <p>Users: {{ users|length }}</p>
</div>
{% if messages %}
    <ul class="messages main-view__messages">
    {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
<div class="fcol widget-list">
  <div class="flc widget-list__header">
    <div class="widget-list__field widget-list__field--id">ID</div>
    <div class="fc widget-list__field widget-list__field--url">Full Name</div>
    <div class="fc widget-list__field widget-list__field--language">Email</div>
    <div class="fc widget-list__field widget-list__field--status">Available</div>
    <div class="fc widget-list__field client-list__field--role">Role</div>
    <div class="f1"></div>
    <div class="frc widget-list__field widget-list__field--mod-bar">
      <a class="widget-list__create" href="{% url 'dashboard:client_user_create' %}" target="_self">CREATE</a>
    </div>
  </div>
  <div class="fcol view-list__content widget-list__content">
    {% for user in users %}
    <div class="flc view-list__entry team-list__entry">
      <div class="widget-list__field widget-list__field--id">#{{ user.id }}</div>
      <div class="flc widget-list__field widget-list__field--url">
        <div class="fcol">
          <div class="widget-list__url-label">{{ user.get_full_name }}</div>
        </div>
      </div>
      <div class="fc widget-list__field widget-list__field--language">
        <div class="widget-list__url-label">{{ user.email }}</div>
      </div>
      <div class="fc widget-list__field widget-list__field--status">
        {% if user.profile.available %}
        <div class="widget-list__status-dot widget-list__status-dot--active"></div>
        {% else %}
        <div class="widget-list__status-dot widget-list__status-dot--paused"></div>
        {% endif %}
      </div>
      <div class="fc df-c widget-list__field client-list__field--role">
        <div class="widget-list__change-date">{{ user.role }}</div>
      </div>
      <div class="f1"></div>
      <div class="flc widget-list__field widget-list__field--mod-bar">
        <a class="fc df-f1 list-link--edit" href="{% url 'dashboard:client_user_edit' user_id=user.id  %}" target="_self">Edit</a>
        {% if user.profile.available %}
        <a class="fc df-f1 list-link--pause" href="{% url 'dashboard:user_deactivate' user_id=user.id  %}">Deactivate</a>
        {% else %}
        <a class="fc df-f1 link--unpause-widget list-link--pause" href="{% url 'dashboard:user_activate' user_id=user.id  %}">Activate</a>
        {% endif %}
        <a class="fc df-f1 list-link--delete" href="{% url 'dashboard:user_delete' user_id=user.id  %}">Delete</a>
      </div>
    </div>
    {% endfor %}
    {% if users|length == 0 %}
    <div class="no-widgets fc">
      <p>No users.</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% if messages %}
<ul class="messages messages--widgets">
  {% for message in messages %}
  <li {% if message.tags %} class="message {{ message.tags }}" {% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<div class="mdc-snackbar mdc-snackbar--align-start" aria-live="assertive" aria-atomic="true" aria-hidden="false">
  <div class="mdc-snackbar__text"></div>
  <div class="mdc-snackbar__action-wrapper">
    <button type="button" class="mdc-snackbar__action-button"></button>
  </div>
</div>