main {
  position: relative;
}

main.js-visible {
  z-index:2;
  opacity:1!important;
  @include transition(opacity .2s linear);
}

input[type='text'],
body,
button,
textarea {
  font-family: 'Raleway', sans-serif;
}

textarea {
  resize: none;
  border: none;
  background-color: white;
  color: $color--dark-blue;
}

input[type='text'],
textarea {
  outline: none;
}

b {
  font-weight:400;
}

button {
  width:auto;
}

label {
  pointer-events: none;
  white-space: nowrap;
}

button,
a {
  cursor:pointer;
}

video.fullscreen {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:1;
}