{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="QuickHellou, lets you do just that: connect for a quick video chat with anyone you like. No accounts to setup and no hoops to jump through, with a single click of the mouse, you’re up and running with a sharable link to a private video chat room.">
  
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'images/icons/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">

  <meta name="image" content="{% static 'images/icons/android-icon-192x192.png' %}">
  <meta name="name" content="Quick Hellou">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="room_id" content="{{ room_id }}">
  <meta name="init" content="">
  
  <base target="_blank">

  <title>Quick Hellou by GenB, Inc. | video chat made easy</title>

  <link rel="manifest" href="{% static 'manifest.json' %}">
  <link rel="icon" type="image/svg+xml" href="{% static 'images/icons/favicon.svg' %}" />
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/icons/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/icons/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/icons/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/icons/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/icons/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/icons/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/icons/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/icons/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/icons/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/icons/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
  <link rel="canonical" href="{{ canonical }}">

  <!-- loader code -->
  <style>
    body *,
    body:after,
    body:before {
      box-sizing: border-box;
    }

    html,
    body,
    main {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 100%;
      overflow-x: hidden;
    }

    @media(min-width:992px) {
      html,
      body,
      main {
        height: 100%;
        overflow-y: hidden;
      }
    }

    div.loader,
    div.loader:after {
      border-radius: 50%;
      width: 48px;
      height: 48px
    }

    div.loader {
      z-index: 1;
      margin: auto;
      font-size: .25rem;
      position: fixed;
      top: calc(50% - 24px);
      left: calc(50% - 24px);
      text-indent: -9999em;
      border-right: .3em solid #80d100;
      border-bottom: .3em solid #001588;
      border-top: .3em solid #001588;
      border-left: .3em solid #80d100;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation: load8 1.1s infinite linear;
      animation: load8 1.1s infinite linear
    }

    @-webkit-keyframes load8 {
      0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
      }
      to {
        -webkit-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        transform: rotate(1turn)
      }
    }

    @keyframes load8 {
      0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
      }
      to {
        -webkit-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        transform: rotate(1turn)
      }
    }
  </style>
  <script src="{% static 'js/adapter-latest.js' %}"></script>
  <script src="{% static 'js/quickhellou.js' %}" defer></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/quickhellou.css' %}">
  
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24219456-8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-24219456-8');
  </script>
</head>
<body>
  <div class="main" style="opacity:0;">
    <!-- Video View -->
    <div class="df df-col view view--videos hidden"> 
      <div class="hidden">
        <div class="text-chat-window__control text-chat-window__collapse">&ndash;</div>
      </div>
      <div class="pr df df-f1 df-lc video-columns-wrap">
        <div class="view-column--left text-chat-window hidden">
          <div class="df df-c text-chat-window__header">
            <div class="button--transparent-red text-chat-window__control text-chat-window__close">hide text chat</div>
          </div>
          <div class="df df-col df-f1 text-chat-window__messages">
          </div>
          <div class="text-chat-window__enter-message-box">
            <div class="df df-col df-ct">
              <textarea class="text-chat-window__message-input">Type your message here</textarea>
              <button class="button--transparent text-chat-window__send-message-button">Send</button>
            </div>
          </div>
        </div>
        <div class="df df-ct df-col df-f1 view-column column--video">
          <div class="videos-wrap">
            <video class="mini-video" autoplay playsinline muted></video>
            <video class="local-video" autoplay playsinline muted></video>        
          </div>
          <!-- Video Controls-->
          <div class="overlay hidden">
            <div class="fullscreen">
            </div>
            <div class="icons hidden">
              <div class="mute-audio">
              </div>
              <div class="mute-video">
              </div>
              <div class="button--chat-window">
              </div>
              <div class="button--hangup hidden">
              </div>
            </div>
          </div>
          <!-- end of Video Controls -->
          <!-- Confirm Join -->
          <div class="confirm-join-div hidden">
            <div>Ready to join
              <span class="confirm-join-room-span"></span>?</div>
            <button class="button confirm-join-button">Join</button>
          </div>
          <!-- end of Confirm Join -->
          <!-- Waiting -->
          <div class="cover overlay-waiting">
            <div class="overlay-waiting-back">
            </div>

            <div class="df df-c df-col cover overlay-waiting-content">
              <p class="overlay-waiting-content__desc">
                <strong>Invite someone to join you!</strong> Share following link:</p>
              <a class="room-link-href-waiting overlay-waiting-content__link link" href="{{ room_link }}">
                {{ room_link }}
              </a>

              <div class="invite-waiting-row">
                <div class="df df-c df-col invite-waiting-row--top">
                  <p class="invite-waiting-row__text">or use &nbsp;</p>
                  <a class="df df-lc email button--bordered invite-waiting-button invite-waiting-button--send-invitation button--overlay button--send-invitation" data-screen="send-invitation">
                    <img class="invite-waiting-button__icon" src="{% static 'images/send-invitation.svg' %}" alt="send email icon"> Send invitation by email</a>
                </div>
                <div class="invite-waiting-button--sms">
                  <div>
                    Send by sms
                  </div>
                  <img class="icon hidden" src="{% static 'images/send-sms.svg' %}" alt="Send Email">
                </div>
              </div>

              <a class="button--bordered invite-waiting-button invite-waiting-button--thanks thanks">
                OK, thanks
              </a>
            </div>
          </div>
          </div>
          <!-- end of Waiting -->
        </div>
        <!-- SEND INVITATION OVERLAY -->
        <div class="df df-c cover send-invitation hidden">
          <a class="send-invitation__closer overlay__closer send-invitation__closer-button overlay__closer-button" data-screen="send-invitation">
            <img class="send-invitation__closer-icon overlay__closer-icon" src="{% static 'images/close.svg' %}" alt="close icon">
          </a>
          <form class="df df-col form form--overlay form--send-invitation send-invitation-form" action="/sendinvitation" method="post">
            <p class="send-invitation__header">Send invitation</p>
            <div class="df df-col send-invitation__body overlay__body overlay--send-invitation__body">
              <div class="df df-lc">
                <p class="send-invitation__subheader">Talk topic & description</p>
                <p class="send-invitation__error send-invitation__error--message overlay__error overlay--send-invitation__error hidden">Please enter a message.</p>
              </div>
              <div class="send-invitation__message-box">
                <div contenteditable="true" class="send-invitation__message-editable overlay--send-invitation__message-editable">
                  I'm waiting now for you at
                  <br/>
                  <a href="{{ room_link }}">{{ room_link }}</a>
                  <br/>
                  <br/> Please join me.
                </div>
              </div>
              <div class="send-invitation__">

                <div class="df df-lc send-invitation__buttons">
                  <p class="send-invitation__text-send">Send invitation to (email)</p>
                  <p class="send-invitation__error overlay__error overlay--send-invitation__error send-invitation__error--email hidden">Please enter a valid email address.</p>
                </div>              

                <p class="send-invitation__error overlay__error overlay--send-invitation__error send-invitation__error--email hidden">Please enter a valid email address.</p>
                <input type="text" name="email" class="send-invitation__email" value="">
              </div>
              <div class="df df-c">
                <button class="button--bordered send-invitation__send-button">Send Invitation</button>
              </div>
            </div>
            <div class="send-invitation__result overlay__result overlay--send-invitation__result hidden">
              <div class="send-invitation__result-message overlay__result-message overlay--send-invitation__result-message"></div>
              <div class="button--bordered send-invitation__result-ok overlay__closer-button send-invitation__closer-button overlay__result-ok overlay--send-invitation__result-ok"
                data-screen="send-invitation">Ok</div>
            </div>
          </form>
        </div> 
        <!-- end of SEND SMS INVITATION OVERLAY -->
      <!-- VIDEO FOOTER -->
      <footer class="df df-lc footer">
        <div class="df df-col sharing-div">
          <div class="room-link">Waiting for someone to join this room:
            <span class="room-link-href">{{ room_link }}</span>
          </div>
          <div class="df df-lc">
            <a class="df df-c button--light-blue button--footer button--overlay button--send-invitation" data-screen="send-invitation">
              <img class="button--footer__icon button-with-text--footer__icon" src="{% static 'images/send-invitation.svg' %}" alt="envelope icon"> Send invitation
            </a>
            <a class="df df-c button--light-blue button--footer button--overlay button--setup-future-talk" href="/scheduler/{{ room_id }}" target="_self">
              <img class="button--footer__icon button-with-text--footer__icon" src="{% static 'images/setup-talk.svg' %}" alt="setup talk icon"> Setup future talk
            </a>
            <div class="df df-c button--light-blue button--footer button--overlay button--share-screen js-disabled">
              <img class="button--footer__icon button-with-text--footer__icon" src="{% static 'images/share-screen.svg' %}" alt="share screen icon">
              <span class="button--share-screen__label" >Share Screen</span>
            </div>
          </div>
        </div>
        <div class="df df-f1"></div>
        <div class="rejoin-div hidden">
          <div class="df df-lc">
            <p class="text-left-call">You have left the call.</p>
            <button class="button button--light-blue rejoin-button">Rejoin</button>
            <button class="button button--light-blue new-room-button">New talk</button>
          </div>
        </div>
        <div class="df df-col df-lb footer__content--right">
          <a class="footer__button-have-problem" href="/problem" target="_blank" rel="noopener">Have a problem or found a bug?</a>
          <img class="quickhellou-logo-footer quickhellou-logo-icon" src="{% static 'images/hellou-quick-white.svg' %}" alt="quick hellou icon">
        </div>
        <div class="info-div" style="display:none;">Some info</div>
      </footer>
      <!-- end of VIDEO FOOTER -->
      </div>
  </div>
  <div class="loader"></div>
</body>

</html>