{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}QuickHellou | Forgot password{% endblock %}

{% block content %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/css/accounts.css' %}" />
{% endblock %}

{% block js %}
<script src="{% static '/js/accounts.js' %}"></script>
{% endblock %}

<div class="fct container">
  <div class="fcol wrapper wrapper--thin wrapper--forgot-password forgot-password">
    <div class="m-logo">
      <div class="m-logo__image">
        <img src="{% static '/images/hellou-quick.svg' %}" alt="quickhellou logo">
      </div>
      <div class="m-logo__description">
        <p><span>forgot</span>&nbsp;password?</p>
      </div>
    </div>
    <div class="">
      <div class="m-form form__container form--forgot-password__container">
        <p class="form__header">Please enter your email and we'll send you back the instructions how to reset your password.</p>
        <form class="fcol site-form" action="{% url 'accounts:forgot-password' %}" method="post" novalidate>
          {% csrf_token %}
          {% if request.GET.next %}
            <input type="hidden" name="next" value="{{request.GET.next}}">
          {% endif %}
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          <div class="form__content">
            <div class="errornote">
              {{ form.email.errors }}
            </div>
            <div class="mdc-text-field mdc-text-field--outlined form--password__mdc-text-field forgot-password__email">
              <input type="text" id="forgot-password-input" name="email" class="mdc-text-field__input form__text form--forgot-password__text form__input form--forgot-password__input"
                required>
              <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label for="forgot-password-input" class="mdc-floating-label form__text form--forgot-password__text form__label form--forgot-password__label">Your e-mail</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            <div class="m-form__space"></div>
          </div>
          <input type="submit" class="m-form__button--forgot-password form__submit form--forgot-password__submit" value="Send">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}