{% extends 'accounts/base.html' %}
{% load static %} {% load svg %}

{% block title %}QuickHellou | Reset Password{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '/css/accounts.css' %}" />
{% endblock %}

{% block js %}
<script src="{% static '/js/accounts.js' %}"></script>
{% endblock %}

{% block content %}

<div class="fct container">
  <div class="fcol wrapper wrapper--thin wrapper--reset-password reset-password">
    <div class="m-logo">
      <div class="m-logo__image">
        {% svg "hellou-quick" %}
      </div>
      <div class="m-logo__description">
        <p><span>reset</span>&nbsp;password</p>
      </div>
    </div>
    <div class="">
      <div class="m-form form__container form--reset-password__container">
        <p class="form__header">Please enter your email and we'll send you back the instructions how to reset your
          password.</p>
        <form class="fcol site-form" action="{% url 'accounts:reset-password' user_id=user_id %}" method="post" novalidate>
          {% csrf_token %}
          {% if request.GET.next %}
          <input type="hidden" name="next" value="{{request.GET.next}}">
          {% endif %}
          {% include "messages.html" %}
          <div class="form__content">
            <div class="errornote">
              {{ form.errors.passwords_not_match }}
            </div>
            <div class="errornote">
              {{ form.new_password.errors }}
            </div>
            <div class="mdc-text-field mdc-text-field--outlined form__field--upper form--password__mdc-text-field reset-password__new-password">
              <input type="password" id="reset-password-input" name="new_password" class="mdc-text-field__input form__text form--reset-password__text form__input form--reset-password__input"
                required>
              <div class="mdc-notched-outline">
                <div class="mdc-notched-outline__leading"></div>
                <div class="mdc-notched-outline__notch">
                  <label for="reset-password-input" class="mdc-floating-label form__text form--reset-password__text form__label form--reset-password__label">New password</label>
                </div>
                <div class="mdc-notched-outline__trailing"></div>
              </div>
            </div>
            <div class="errornote">
              {{ form.repeat_new_password.errors }}
            </div>
            <div class="mdc-text-field mdc-text-field--outlined form--password__mdc-text-field reset-password__email">
              <input type="password" id="repeat-password-input" name="repeat_new_password" class="mdc-text-field__input form__text form--reset-password__text form__input form--reset-password__input"
                required>
              <div class="mdc-notched-outline">
              <div class="mdc-notched-outline__leading"></div>
              <div class="mdc-notched-outline__notch">
                <label for="repeat-password-input" class="mdc-floating-label form__text form--reset-password__text form__label form--reset-password__label">Repeat new password</label>
              </div>
              <div class="mdc-notched-outline__trailing"></div>
            </div>
            </div>
            <div class="m-form__space"></div>
          </div>
          <input type="submit" class="m-form__button--reset-password form__submit form--reset-password__submit" value="Send">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}