{% extends 'accounts/base.html' %}
{% load static %} {% load svg %}

{% block title %}QuickHellou | Sign Up{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/14.0.7/js/intlTelInput.min.js" 
integrity="sha256-XmM1EuBzR5AW0DW53pHaN2cSJrSeCd0uh0pzjf0zRng=" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<script src="{% static '/js/accounts.js' %}"></script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/14.0.7/css/intlTelInput.css" 
integrity="sha256-VTHxKZk78lMIf5D4wjdctAI1T9TxB/eksnmrRd0RWWE=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{% static '/css/accounts.css' %}" />
{% endblock %}

{% block content %}

<div class="fct container">
  <div class="fcol signup">
    <div class="m-logo">
      <div class="m-logo__image">
        <a href="https://www.qhellou.com">{% svg "hellou-quick" %}</a>
      </div>
      <div class="m-logo__description">
        <p><span>sign up</span>&nbsp;to start your widget</p>
      </div>
    </div>
    <div class="">
      <div class="m-form form__container form--login__container">
        <p class="form__header">Please enter your profile details</p>
        <form class="fcol site-form" action="{% url 'accounts:signup' %}" method="post">
          {% csrf_token %}
          {% if request.GET.next %}
          <input type="hidden" name="next" value="{{request.GET.next}}">
          {% endif %}
          {% include "messages.html" %}          
            <div class="fc form__content form__content-signup">
            <div class="fcol df-f1">
              <div class="errornote">
                {{ user_form.email.errors }}
              </div>
              <div class="mdc-text-field text-field mdc-text-field--outlined form__field form__field--upper signup__email">
                <input type="text" id="login-input" name="email" class="mdc-text-field__input "
                  {% if user_form.email.value is not None %} value="{{ user_form.email.value }}" {% endif %}>
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label for="login-input" class="mdc-floating-label form__text form--signup__text  form__label form--signup__label">E-mail</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
              <div class="errornote">
                {{ profile_form.errors.full_name }}
              </div>
              <div class="errornote">
                {{ profile_form.errors.invalid_full_name }}
              </div>
              <div class="mdc-text-field mdc-text-field--outlined form__field form__field--upper signup__fullname">
                <input type="text" id="full-name-input" name="full_name" class="mdc-text-field__input form__text form--signup__text form__input form--signup__input "
                {% if profile_form.full_name.value is not None %} value="{{ profile_form.full_name.value }}" {% endif %} maxlength="128">
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label for="full-name-input" class="mdc-floating-label form__text form--signup__text form__label form--signup__label">Full
                    name</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
              <div class="errornote">
                {{ user_form.password.errors }}
              </div>
              <div class="errornote">
                {{ profile_meta_form.password.errors }}
              </div>
              <div class="mdc-text-field mdc-text-field--outlined form__field form__field--upper signup__password">
                <input type="password" id="password-input" name="password" class="mdc-text-field__input form__text form--signup__text form__input form--signup__input "
                  maxlength="128" autocomplete="new-password">
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label for="password-input" class="mdc-floating-label form__text form--signup__text  form__label form--signup__label">Password</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
              <div class="errornote">
                {{ profile_meta_form.confirm_password.errors }}
              </div>
              <div class="mdc-text-field form__field--upper mdc-text-field--outlined form__field signup__confirm-password">
                <input type="password" id="confirm-password-input" name="confirm_password" class="mdc-text-field__input form__text form--signup__text  form__input form--signup__input "
                  maxlength="128" autocomplete="new-password">
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label for="confirm-password-input" class="mdc-floating-label form__text form--signup__text  form__label form--signup__label">Confirm
                      password</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>

            </div>

          </div>

          <div class="m-form__space"></div>

          <input class="m-form__button--login form__submit signup__submit" onclick="createAccount()" value="Create a FREE account">
          
          <div class="fc m-form__forgot-password">
            <a class="m-form__link--forgot-password login__forgot-password" href="{% url 'accounts:login' %}">Have an account? Sign In</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}