{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}QuickHellou | Sign Up{% endblock %}

{% block content %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/14.0.7/css/intlTelInput.css" 
integrity="sha256-VTHxKZk78lMIf5D4wjdctAI1T9TxB/eksnmrRd0RWWE=" crossorigin="anonymous" />
<link rel="stylesheet" type="text/css" href="{% static '/css/accounts.css' %}" />
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/14.0.7/js/intlTelInput.min.js" 
integrity="sha256-XmM1EuBzR5AW0DW53pHaN2cSJrSeCd0uh0pzjf0zRng=" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<script src="{% static '/js/accounts.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded",  function () {
    var phoneInput = document.querySelector("input.form--signup__input--phone");
    window.intlTelInput(phoneInput, {
      allowDropdown: true,
      initialCountry: 'us',
      separateDialCode: true,
      hiddenInput:"phone",
      utilsScript: 'https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/8.4.6/js/utils.js'
    });
  })
</script>
{% endblock %}
<div class="fct container">
  <div class="fcol signup">
    <div class="m-logo">
      <div class="m-logo__image">
        <a href="https://www.quickhellou.com"><img src="{% static '/images/hellou-quick.svg' %}" alt="quickhellou logo"></a>
      </div>
      <div class="m-logo__description">
        <p><span>sign up</span>&nbsp;to start your widget</p>
      </div>
    </div>
    <div class="">
      <div class="m-form form__container form--signup__container">
        <p class="form__header">Please enter details about person responsible for QuickHellou in your company</p>
        <form class="fcol site-form" action="{% url 'accounts:signup' %}" method="post">
          {% csrf_token %}
          {% if request.GET.next %}
          <input type="hidden" name="next" value="{{request.GET.next}}">
          {% endif %}
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
            <div class="flt form__content form__content-signup">
            <div class="fcol form__column form__column--left">
              <div class="errornote">
                {{ user_form.email.errors }}
              </div>
              <div class="mdc-text-field text-field mdc-text-field--outlined form__field form__field--upper signup__email">
                <input type="text" id="login-input" name="email" class="mdc-text-field__input "
                  {% if user_form.email.value is not None %} value="{{ user_form.email.value }}" {% endif %}>
                <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label for="login-input" class="mdc-floating-label form__text form--signup__text  form__label form--signup__label">Your work e-mail</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
              <div class="errornote">
                {{ profile_form.errors.full_name }}
              </div>
              <div class="errornote">
                {{ profile_form.errors.invalid_full_name }}
              </div>
              <div class="mdc-text-field mdc-text-field--outlined form__field form__field--upper signup__fullname">
                <input type="text" id="full-name-input" name="full_name" class="mdc-text-field__input form__text form--signup__text form__input form--signup__input "
                {% if profile_form.full_name.value is not None %} value="{{ profile_form.full_name.value }}" {% endif %} maxlength="128">
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label for="full-name-input" class="mdc-floating-label form__text form--signup__text form__label form--signup__label">Full
                    name</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
              <div class="errornote">
                {{ user_form.password.errors }}
              </div>
              <div class="errornote">
                {{ profile_meta_form.errors.passwords_not_match }}
              </div>
              <div class="mdc-text-field mdc-text-field--outlined form__field form__field--upper signup__password">
                <input type="password" id="password-input" name="password" class="mdc-text-field__input form__text form--signup__text form__input form--signup__input "
                  maxlength="128">
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label for="password-input" class="mdc-floating-label form__text form--signup__text  form__label form--signup__label">Password</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
              <div class="errornote">
                {{ profile_meta_form.confirm_password.errors }}
              </div>
              <div class="mdc-text-field mdc-text-field--outlined form__field signup__confirm-password">
                <input type="password" id="confirm-password-input" name="confirm_password" class="mdc-text-field__input form__text form--signup__text  form__input form--signup__input "
                  maxlength="128">
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label for="confirm-password-input" class="mdc-floating-label form__text form--signup__text  form__label form--signup__label">Confirm
                      password</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <div class="fcol form__column form__column--right">
              <div class="errornote">
                {{ profile_meta_form.errors.phone_raw }}
              </div>
              <div class="mdc-text-field mdc-text-field--outlined form__field form__field--upper form__phone">
                <input type="text" name="phone_raw" id="phone-input" class="mdc-text-field__input form__text form--signup__text  form__input form--signup__input form--signup__input--phone"
                {% if profile_form.phone.value is not None %} value="{{ profile_form.phone.value }}" {% endif %}>
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label for="phone-input" class="mdc-floating-label form__text form--signup__text  form__label form--signup__label"></label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
              <div class="errornote">
                {{ widget_form.errors.url }}
              </div>
              <div class="flc form__field form__field--upper signup__callpage-url">
                <div class="df url__prefix">http(s)://</div>
                <div class="mdc-text-field mdc-text-field--outlined form__mdc-text-field--callpage-url">
                  <input type="text" id="url-input" name="url" class="mdc-text-field__input form__text form--signup__text  form__input form__input form--signup__input form__input--callpage-url"
                  {% if widget_form.url.value is not None %} value="{{ widget_form.url.value }}" {%   endif %}>
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="url-input" class="mdc-floating-label form__text form--signup__text  form__label form--signup__label">URL
                        where you'll install quickhellou</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>
              </div>
              <div class="fc signup__captcha">
                <div class="fcol">
                  <div class="errornote">
                    {{ profile_meta_form.errors.recaptcha }}
                  </div>
                  <input type="hidden" name="recaptcha" value="1">
                  <div id="recaptcha"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="m-form__space"></div>
          <div class="fc">
            <input type="submit" class="m-form__button--login form__submit signup__submit" value="Create a FREE account">
          </div>
          <div class="fc m-form__forgot-password">
            <p class="m-form__link--forgot-password signup__submit-note">By submitting the form, you accept the <a href="{% url 'accounts:terms-of-use' %}">Terms
                Of Use</a> and <a href="{% url 'accounts:privacy-policy' %}">Privacy
                Policy</a>.</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}