body *,
body:after,
body:before {
  box-sizing: border-box;
}

body {
  font:400 16px 'Raleway';
}

html,
body {
  position: relative;
  overflow-x: hidden;
  height:100%;
  background-color: #fff;
}

button,
button:focus {
  outline:none;
  box-shadow: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.icon img {
  display: block;
}

iframe {
  width:100%;
  height:100%;
}