body {
  padding:0;
}

p,
body,
h1,
h3 {
  margin:0;
}

h1,
h3 {
  font-family:'Raleway';
}

ul, li {
  padding:0;
  margin:0;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,500i,600,700,800');