.mdc-linear-progress--page {
  position:absolute;
}

.intl-tel-input.separate-dial-code .selected-flag {
  background: transparent!important;
}

.intl-tel-input input {
  z-index:1!important;
}

.intl-tel-input .flag-container {
  z-index:2;
}