@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600');
@import 'common/settings';

$s-xxs:		380px;
$s-md:		768px;

@mixin df() {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin df-lc() {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin df-lb() {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@mixin df-cb() {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@mixin df-col() {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin df-f1() {
  -webkit-flex: 1 !important;
  -ms-flex: 1 0 auto;
  flex: 1 0;
}

@mixin df-c() {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
		-ms-transform: $transforms;
	   		transform: $transforms;
}

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

html {
  font-size:10px;
  line-height: normal;
}

.qh-root {
  font-family: 'Raleway';
  font-size:16px;
  background: transparent;
  border: none;
  bottom: 30px;
  height: 74px;
  position: fixed;
  right: 30px;
  top: auto;
  width: 70px;
  z-index: 1002;
  
  button, input, select, textarea {
    font-family: inherit;
    line-height: inherit;
  }
  
  * {
    line-height: normal;
    box-sizing: border-box;
  }
  
  p {
    margin: 0;
    font-family: Raleway;
  }

  svg,
  img {
    vertical-align: middle;
  }
  
  button,
  button:focus {
    outline: none;
    box-shadow: none;
  }

  .f1 {
    @include df;
    @include df-f1;
  }

  .fc {
    @include df;
    @include df-c;
  }

  .fct {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .flc {
    @include df;
    @include df-lc;
  }

  .fcol {
    @include df;
    @include df-col;
  }

  .fcb {
    @include df;
    @include df-cb;
  }

  .messages,
  .errornote {
    width: 100%;
    padding: 0;
  }

  .messages {
    margin: 0;
    margin-bottom: 10px;
  }

  .errornote {
    color: white;
    font-size: 0.75em;
  }

  .errorlist {
    margin: 0;
    padding: 0;
  }

  .messages li,
  .errorlist li {
    list-style: none;
  }

  .messages li.error {
    color: #c90000;
  }

  .messages li.success {
    color: #00a100;
  }

  .wrapper--thin {
    width: 600px;
    margin-top: 78px;
  }

  .widget-templates {
    margin-bottom: 50px;
  }

  .outlook {
    position: relative;
    min-height: 100px;
    background-color: $color--white-smoke;
    border: 1px solid $color--light-grey;
    padding: $spacing-outer;
  }

  .widget-outlook__graphics {
    position: relative;
  }

  .widget-outlook__alert {
    display: none;
    position: absolute;
    top: -8px;
    left: -8px;
    z-index: 1;
  }

  .widget-outlook__alert.js-active {
    display: block;
  }

  .widget-outlook__icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .widget-outlook__icon svg {
    display: block;
    height: 40px;
    max-width: 80px;
  }

  // EXT

  .qh-widget-ext__messages-content {
    height:100%
  }

  .widget-extension__complete-icon {
    transform: translate(-9px,3px);
  }

  .widget-extension__messages li {
    color: white;
    font-size: 0.875em;
    font-weight: 600;
    text-align:center;
  }

  .widget-extension__messages li:nth-child(1) {
    font-size:16px;
    font-size:500;
  }

  .widget-extension__messages li:nth-child(2) {
    font-size:400;
  }

  .widget-extension__messages li.error {
    color: #c90000;
  }

  .widget-extension__messages li.success {
    color: white;
  }

  .qh-widget-ext__content p {
    color: white;
    font-size: 0.875em;
  }

  .qh-widget-ext__content a {
    color: $color--apricot;
  }

  .qh_widget-closer {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .qh_widget-closer--active-operator svg {
    width:36px;
    height:36px;
  }

  .qh_widget-closer--inactive-operator svg {
    width:24px;
    height:24px;
  }

  .widget-extension__form-group {
    margin-bottom: 2px;
    position: relative;
  }

  .widget-extension__errornote {
    position: absolute;
    top: -14px;
    left: 2px;
  }
  .widget-extension__errornote li {
    font-weight:500;
  }

  .widget-extension__form-text {
    font-weight: 600;
    color: white;
    font-size: 0.875em;
  }

  .widget-extension__label {
    margin-bottom: 2px;
  }

  input,
  textarea {
    font-weight: 500;
    font-size: 0.825em;
    padding:6px 12px;
    color: $color--nero;
    border:2px solid white;
    border-radius: 6px;
    margin-bottom:14px;
  }

  textarea {
    height:110px;
    resize: none;
  }

  input.error,
  textarea.error {
    border-color:#FC1A19;
  }

  .widget-extension__button {
    cursor: pointer;
    background-color: transparent;
    border: 3px solid white;
    padding: 3px 6px;
    border-radius: 26px;
  }

  .widget-extension__button:hover {
    background-color: $color--nero;
  }

  .widget-extension__button p {
    font-weight:600;
    font-size:16px;
    user-select: none;
  }

  .widget-extension__button:hover p {
    color:white;
  }

  .widget-extension__send-icon {
    height:40px;
  }

  .qh_module--active-operator {
    height:100%;
  }

  .qh_video-ui__body {
    padding:0 10px;
  }

  .qh_module {
    width:100%;
  }

  .qh_module,
  .video-ui__stage,
  .qh_module--active-operator {
    display: none;
  }

  .qh_module.js-enabled,
  .video-ui__stage.js-enabled,
  .qh_module--active-operator.js-enabled {
    display: flex;
  }

  .qh_module--inactive-form.js-enabled {
    display:block;
  }

  .form-complete__logo-icon {
    position: absolute;
    bottom:19px;
    right:10px;
  }

  p.widget__form-label {
    font-weight: 500;
    line-height:16px;
    pointer-events: none;
  }
  p.widget__form-sublabel {
    font-weight: 400;
    pointer-events: none;
  }
  
  .inactive-user__form-label {
    margin-bottom:4px;
    font-size:16px;
  }
  
  .inactive-user__form-sublabel {
    font-size:1.375rem;
    margin-bottom: 20px;
  }

  input.widget-extension__input {
    width:80%;
  }

  .qh-widget-ext__content {
    position: relative;
    background-color: $color--lawn-green;
    padding: 20px 10px 10px;
    border-radius: 12px;
  }

  .qh-widget-ext__contact-form-body {
    padding:0 10px;
    height:100%;
  }

  .el-group {
    margin-bottom:20px;
  }

  .active-form__subtext {
    line-height:1.1em;
    font-weight:300;
  }

  .active-form__subtext span {
    font-weight:600;
  }

  .widget_base {
    cursor: pointer;
    transition: opacity 0.2s linear;
  }

  .widget_base:hover {
    opacity: 0.75;
  }

  .widget-outlook__admin-thumbnail {
    width:30px;
    height:30px;
    top:0;
    left:0;
    position: absolute;
    z-index:4;
  }

  .avatar {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: center;
  }

  .active-user-form__thumbnail {
    width:60px;
    height:60px;
  }

  .outlook__circle-blue {
    position:absolute;
    top:-6px;
    left:-6px;
  }

  .outlook__user-icon {
    position:absolute;
    top:4px;
    left:5px;
    width:20px;
    height:20px;
  }

  .widget-outlook__background-circle {
    fill:#878787;
  }

  .widget-outlook__background-circle.js-active {
    fill:#7fd100;
  }

  .widget-bottom__msg {
    color:#08005a;
    font-weight: 300;
  }

  .widget-bottom__msg b {
    font-weight: 500;
  }

  .widget-bottom__error {
    color:#c90000;
  }

  div.qh_widget-bottom__content.js-hidden,
  p.widget-bottom__error.js-hidden {
    display: none;
  }
  
  .widget-bottom__txt {
    font-size:14px;
    line-height:1em;
    text-align: right;
    width:100%;
  }

  .widget-bottom__msgs {
    margin-right:20px;
  }

  .widget-bottom__button p {
    font-size:1.275rem;
    line-height:1em;
    color:#08005a;
    pointer-events: none;
    font-weight: 300;
  }
  .widget-bottom__button:hover p {
    color:white;
    @include transition(color .1s ease);
  }
  .widget-bottom__button {
    padding:1px;
    border-radius: 12px;
    border-style: solid;
    border-width: 2px;
    padding:4px 10px;
    cursor:pointer;
  }

  .widget-bottom__button--mute {
    height:44px;
    margin-right:4px;
    padding-bottom:4px;
    cursor:pointer;
  }

  .widget-bottom__button:hover {
    background-color: #08005a;
    border-color: #08005a;
    @include transition(background-color .1s ease);
  }

  .widget-bottom__button--yes {
    border-color:#7fd100;
    margin-right:10px;
  }
  .widget-bottom__button--no {
    border-color:#cd0a0a;
  }

  .qh-widget-ext__contact-form,
  .qh_module--inactive-form {
    height:100%;
  }

  .qh-widget-ext__content {
    height:100%;
  }

  .qh_video-ui_form {
    height:100%;
  }

  .qh_tight {
    padding:0 10px;
  }

  .qh_video-ui_awating-texts {
    margin-bottom:40px;
  }

  .qh_video-ui_awating p {
    font-size:16px;
    font-weight:300;
  }

  .qh_video-ui_awating--thankyou {
    font-weight:500;
  }

  .qh_submodule {
    display:none;
  }
  .qh_submodule.js-enabled {
    display:block;
  }
  .qh_submodule--video-chat {
    width:100%;
    height:100%;
    padding:0 6px 2px;
    transform: translateY(-4px);
  }

  div.main.qh_video,
  div.view--videos {
    height:100%;
  }

  div.qh_submodule--rate-ux,
  div.qh_rate-ux-content {
    height:100%;
  }

  .qh_rate-ux--top {
    margin-bottom:100px;
  }

  p.qh_text--chat-ended {
    font-weight: 400;
  }
  p.qh_text--thank-you {
    font-size: 3rem;
    font-weight:600;
  }
  
  p.qh_rate-desc {
    font-size:.875em;
    font-weight: 300;
  }
}

.qh_rate-star {
  cursor: pointer;
}

.qh_rate-star svg {
  width:36px;
  height:auto;
}

.qh_rate-star g.qh_rate-image--disabled,
.qh_rate-star.js-disabled g.qh_rate-image--enabled {
  display: none;
}

.qh_rate-star.js-disabled g.qh_rate-image--disabled,
.qh_rate-star g.qh_rate-image--enabled {
  display: block;
}

.st0 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.5;
}
.st1 {
  fill: #ffffff;
}

#qh_e_frame.js-expanded {
  opacity:1;
  display: block;
}

#qh_e_frame {
  background: transparent;
  border: none;
  position: absolute;
  right: -4px;
  bottom: 1px;
  top: auto;
  width: 300px;
  height: 368px;
  z-index: 1002;
  transition: bottom 0.2s ease-in;
  box-shadow: 0 0 5px 0 #ddd;
  opacity:0;
  border-radius: 12px;
  display: none;
}

#qh_e_frame.qh_video-mode {
  width:90vw;
  height:90vh;
}

#qh_b_frame {
  background: white;
  border: none;
  box-shadow: 0px -1px 5px 0px #ddd;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1001;
  padding:4px 20px;
}

.widget-bottom {
  @include transform(translateY(110%));
  @include transition(transform .2s ease);
}

.widget-bottom.js-active {
  @include transform(translateY(0%));
}

.qh-widget-badge {
  @include transition(transform .2s ease);
}

.qh-widget-badge.js-top {
  @include transform(translateY(-56px));
}

#message-input {
  margin-bottom:10px;
}

div.qh-root.active {
  opacity:1!important;
  transition: opacity .3s ease-out;
}

/// videochat

.column--video {
  position: relative;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

.videos-wrap,
.video-columns-wrap {
  max-height: calc(100% - 40px);
  @media (min-width: $s-md) {
    max-height:calc(100% - 75px);
  }
}

.videos-wrap {
  @include transition(all .2s ease);
  width: 100%;
  height: 100%;
  position: absolute;
  max-height: calc(100% - 40px);
  @media (min-width: $s-md) {
    max-height:calc(100% - 75px);
  }
}

.video-columns-wrap.js-fullscreen,
.videos-wrap.js-fullscreen {
  max-height: 100%;
}

.remote-video-fullscreen,
div.fullscreen {
  display:none!important;
}

.qh_video-columns {
  height:100%;
}

div.fullscreen,
.qh_video-control {
  background-image: none !important;
}

.qh_video-control svg {
  height:32px;
}

.videos-wrap.active {
  @include transform(rotateY(0));
}

.rejoin-button {
  background-color: #f44336;
}

.new-room-button,
.rejoin-button {
  font-size: 0.75rem;
  font-weight: 400;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  white-space: nowrap;
  @media (min-width: $s-sm) {
    font-size:1.25rem;
    padding: 5px 20px;
  }
}

.qh_room-link,
.rejoin-button,
.new-room-button,
.button--send-invitation {
  display: none!important;
}

.rejoin-button {
  margin-right: 10px;
}

.text-left-call {
  color: white;
  display: none;
}

.rejoin-div {
  margin-right: 20px;
}

.local-video {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: opacity 1s;
  width: 100%;
}

.mini-video {
  border: 1px solid gray;
  top: 20px;
  left: 20px;
  max-height: 17%;
  max-width: 17%;
  opacity: 0;
  position: absolute;
  transition: opacity 1s;
}

.mini-video.active {
  opacity: 1;
  z-index: 2;
}