<div class="qh-widget-ext__contact-form-body contact-details active">


  {% include "embed/widget/header.html" with label="Add Your Contact Information" sublabel="To Book Your Appointemnt!" closerClass="qh_widget-closer--inactive-operator" %}  
  
  <div class="fcol qh-widget__form">

    <div class="fc fcol widget-extension__form-group">
      <input name="name" placeholder="Your Name" class="widget-extension__input">
    </div>
    <div class="fc fcol widget-extension__form-group">
      <input name="email_address" class="widget-extension__input" placeholder="Email address">
    </div>
    <div class="fc fcol widget-extension__form-group">
      <input name="phone_number" class="widget-extension__input" placeholder="Phone Number (optional)">
    </div>
    <div class="fc fcol widget-extension__form-group">
      <textarea name="message" class="widget-extension__input" placeholder="Message (optional)"></textarea>
    </div>

  </div> 

  <div class="frc widget-extension__controls">
    <div class="fc">
      {% include "embed/widget/button.html" with label="Confirm Booking" %}
      
    </div>
  </div>

  {% include "embed/widget/footer.html" %}

</div>