{% load static %}

<div class="df fcol flc widget--schedule__scheduler scheduler">

  <div class="df fc df-f1 scheduler__paging_row">
    <a class="scheduler__pages-nav-button scheduler__pages-nav-button--prev">
      <img class="nav-button--prev" src="{% static '/images/prev-icon.svg' %}">
    </a>
  
    <div class="df fc df-f1 frow scheduler__date-label">
      <p class="scheduler__month-label">page.month</p>
      <p class="scheduler__year-label">page.year</p>
    </div>
    
    <a class="scheduler__pages-nav-button scheduler__pages-nav-button--next">
      <img class="nav-button--next" src="{% static '/images/next-icon.svg' %}">
    </a>
    
  </div>
    

  <div class="flc scheduler__pages">    

    <div class="scheduler__page">
      <div class="f1 fcol scheduler__day today">
        <div class="f1 fcol scheduler__day-header">
          
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
      </div>
      <div class="f1 fcol scheduler__day">
        <div class="f1 fcol scheduler__day-header">
          
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
      </div>
      <div class="f1 fcol scheduler__day">
        <div class="f1 fcol scheduler__day-header">
          
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
      </div>
      <div class="f1 fcol scheduler__day">
        <div class="f1 fcol scheduler__day-header">
          
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
      </div>
      <div class="f1 fcol scheduler__day">
        <div class="f1 fcol scheduler__day-header">
          
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
      </div>
    </div>
    <div class="scheduler__page"> 
      <div class="f1 fcol scheduler__day">
          
          <div class="f1 fcol scheduler__day-header">
            
            <div class="fcol scheduler__day-header">
              <span class="scheduler__day-text scheduler__day-name">row.day</span>
              <span class="scheduler__day-text">row.name</span>
            </div>
          </div>
          
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
        </div>
        <div class="f1 fcol scheduler__day">
          
          <div class="f1 fcol scheduler__day-header">
            
            <div class="fcol scheduler__day-header">
              <span class="scheduler__day-text scheduler__day-name">row.day</span>
              <span class="scheduler__day-text">row.name</span>
            </div>
          </div>
          
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
        </div>

        <div class="f1 fcol scheduler__day">
          
          <div class="f1 fcol scheduler__day-header">
            
            <div class="fcol scheduler__day-header">
              <span class="scheduler__day-text scheduler__day-name">row.day</span>
              <span class="scheduler__day-text">row.name</span>
            </div>
          </div>
          
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
        </div>

        <div class="f1 fcol scheduler__day">
          
          <div class="f1 fcol scheduler__day-header">
            
            <div class="fcol scheduler__day-header">
              <span class="scheduler__day-text scheduler__day-name">row.day</span>
              <span class="scheduler__day-text">row.name</span>
            </div>
          </div>
          
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
        </div>

        <div class="f1 fcol scheduler__day">
          
          <div class="f1 fcol scheduler__day-header">
            
            <div class="fcol scheduler__day-header">
              <span class="scheduler__day-text scheduler__day-name">row.day</span>
              <span class="scheduler__day-text">row.name</span>
            </div>
          </div>
          
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
      </div>
    </div>
    <div class="scheduler__page"> 
      <div class="f1 fcol scheduler__day">
        
        <div class="f1 fcol scheduler__day-header">
          <span class="fc scheduler__day-info">row.info2</span>
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day2</span>
            <span class="scheduler__day-text">row.name2</span>
          </div>
        </div>
        
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time1</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time2</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time3</span>
        </div>
      </div>
      <div class="f1 fcol scheduler__day">
        
        <div class="f1 fcol scheduler__day-header">
          
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
        
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
      </div>

      <div class="f1 fcol scheduler__day">
        
        <div class="f1 fcol scheduler__day-header">
          
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
        
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
      </div>

      <div class="f1 fcol scheduler__day">
        
        <div class="f1 fcol scheduler__day-header">
          
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
        
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
      </div>

      <div class="f1 fcol scheduler__day">
        
        <div class="f1 fcol scheduler__day-header">
          
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
        
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
    </div>

    
    </div>  

    

  </div>

</div>

<input type="hidden" name="datetime" value="2022-11-29 11:00 AM">