<div class="scheduler__page">
  <div class="f1 fc frow scheduler__date-label">
    {% for month in page.months %}
      {% if forloop.counter is not 1 %}  
        <p> / </p>
      {% endif %}
      <p class="scheduler__month-label">{{ month.month }}</p>
      <p class="scheduler__year-label">{{ month.year }}</p>
    {% endfor %}
  </div>
  
  <div class="scheduler__days">
  {% for day in page.days %}
  <div class="f1 fcol scheduler__day">
    <div class="f1 fcol scheduler__day-header_wrap">
      <span class="fc scheduler__day-info">row.month row.year</span>
      <div class="fcol scheduler__day-header">
        <span class="scheduler__day-text scheduler__day-name">{{ day.day_name }}</span>
        <span class="scheduler__day-text">{{ day.month_date }}</span>
      </div>
    </div>
    {% for hour in day.time %}
      <div
        class="fc scheduler__button scheduler__button--time scheduler__time"
        data-time="{{ day.date }} {{ hour }}"
      >
        <span class="scheduler__button-text">{{ hour }}</span>
      </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
</div>
