<div class="widget--schedule__scheduler scheduler">
  <div class="flc scheduler__pages">
    <div class="scheduler__page">
      <div class="f1 fcol scheduler__day">
        <div class="f1 fcol scheduler__day-header">
          <span class="fc scheduler__day-info">row.info</span>
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
      </div>
      <div class="f1 fcol scheduler__day">
        <div class="f1 fcol scheduler__day-header">
          <span class="fc scheduler__day-info">row.info</span>
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
      </div>
      <div class="f1 fcol scheduler__day">
        <div class="f1 fcol scheduler__day-header">
          <span class="fc scheduler__day-info">row.info</span>
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
      </div>
      <div class="f1 fcol scheduler__day">
        <div class="f1 fcol scheduler__day-header">
          <span class="fc scheduler__day-info">row.info</span>
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
      </div>
      <div class="f1 fcol scheduler__day">
        <div class="f1 fcol scheduler__day-header">
          <span class="fc scheduler__day-info">row.info</span>
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
      </div>
    </div>
    <div class="scheduler__page"> 
      <div class="f1 fcol scheduler__day">
          
          <div class="f1 fcol scheduler__day-header">
            <span class="fc scheduler__day-info">row.info</span>
            <div class="fcol scheduler__day-header">
              <span class="scheduler__day-text scheduler__day-name">row.day</span>
              <span class="scheduler__day-text">row.name</span>
            </div>
          </div>
          
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
        </div>
        <div class="f1 fcol scheduler__day">
          
          <div class="f1 fcol scheduler__day-header">
            <span class="fc scheduler__day-info">row.info</span>
            <div class="fcol scheduler__day-header">
              <span class="scheduler__day-text scheduler__day-name">row.day</span>
              <span class="scheduler__day-text">row.name</span>
            </div>
          </div>
          
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
        </div>

        <div class="f1 fcol scheduler__day">
          
          <div class="f1 fcol scheduler__day-header">
            <span class="fc scheduler__day-info">row.info</span>
            <div class="fcol scheduler__day-header">
              <span class="scheduler__day-text scheduler__day-name">row.day</span>
              <span class="scheduler__day-text">row.name</span>
            </div>
          </div>
          
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
        </div>

        <div class="f1 fcol scheduler__day">
          
          <div class="f1 fcol scheduler__day-header">
            <span class="fc scheduler__day-info">row.info</span>
            <div class="fcol scheduler__day-header">
              <span class="scheduler__day-text scheduler__day-name">row.day</span>
              <span class="scheduler__day-text">row.name</span>
            </div>
          </div>
          
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
        </div>

        <div class="f1 fcol scheduler__day">
          
          <div class="f1 fcol scheduler__day-header">
            <span class="fc scheduler__day-info">row.info</span>
            <div class="fcol scheduler__day-header">
              <span class="scheduler__day-text scheduler__day-name">row.day</span>
              <span class="scheduler__day-text">row.name</span>
            </div>
          </div>
          
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
          <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
            <span class="scheduler__button-text">time</span>
          </div>
      </div>
    </div>
    <div class="scheduler__page"> 
      <div class="f1 fcol scheduler__day">
        
        <div class="f1 fcol scheduler__day-header">
          <span class="fc scheduler__day-info">row.info2</span>
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day2</span>
            <span class="scheduler__day-text">row.name2</span>
          </div>
        </div>
        
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time1</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time2</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time3</span>
        </div>
      </div>
      <div class="f1 fcol scheduler__day">
        
        <div class="f1 fcol scheduler__day-header">
          <span class="fc scheduler__day-info">row.info</span>
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
        
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
      </div>

      <div class="f1 fcol scheduler__day">
        
        <div class="f1 fcol scheduler__day-header">
          <span class="fc scheduler__day-info">row.info</span>
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
        
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
      </div>

      <div class="f1 fcol scheduler__day">
        
        <div class="f1 fcol scheduler__day-header">
          <span class="fc scheduler__day-info">row.info</span>
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
        
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
      </div>

      <div class="f1 fcol scheduler__day">
        
        <div class="f1 fcol scheduler__day-header">
          <span class="fc scheduler__day-info">row.info</span>
          <div class="fcol scheduler__day-header">
            <span class="scheduler__day-text scheduler__day-name">row.day</span>
            <span class="scheduler__day-text">row.name</span>
          </div>
        </div>
        
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
        <div class="fc scheduler__button scheduler__button--time scheduler__time" data-time="${date} ${time}">
          <span class="scheduler__button-text">time</span>
        </div>
    </div>
  </div>
  </div>
  <div class="flc scheduler__pages-controls">
    <a class="scheduler__pages-nav-button scheduler__pages-nav-button--prev">Prev dates</a>
    <div class="f1"></div>
    <a class="scheduler__pages-nav-button scheduler__pages-nav-button--next">Next dates</a>
  </div>
</div>
<input type="hidden" name="datetime" value="2022-11-29 11:00 AM">