
<div id="qh_s_frame" class="window widget--schedule">

  <div class="flt fcol qh widget__content widget--schedule__content" style="background-color:{{ background_color }}">

    {% include "embed/widget/header.html" with label="Select a Date & Time" sublabel="To Schedule Free Consultation!" %}
    
            
    <div class="widget--schedule__datetime-controls">
      {% include "embed/widget/scheduler_calendar.html" %}
    </div>
    <div class="frc widget-extension__controls">
      <div class="fc">
        {% include "embed/widget/button.html" with label="Schedule Free Consultation" %}
        
      </div>
    </div>

    {% include "embed/widget/footer.html" %}

  </div>

</div>