.view {
  width: 100%;
  @media (min-width: $s-lg) {
    height:100%;
  }
}

.view-column {
  position: relative;
}

.view-column--left {
  width: 100%;
  height: 100%;
  background-color: $color--dark-blue;
  @media (min-width: $screen-WQVGA) {
    padding-left:30px;
    padding-right: 30px;
  }
  @media (min-width: $s-lg) {
    width: 285px;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.logo-image {
  width: 70%;
  max-width: 225px;
  @media (min-width: $s-lg) {
    width: 160px;
  }
  @media (min-width: $s-xxl) {
    width: 225px;
  }
}

.logo-image-wrap {
  margin-top: 15px;
  margin-bottom: 5px;
  @media (min-width: $s-sm) {
    margin-bottom: 5px;
  }
  @media (min-width: $s-xl) {
    margin-bottom: 36px;
  }
}

.view--room-selection {
  background: white;
  -webkit-background-size: cover;
  background-size: cover;
  @media (min-width: $s-lg) {
    @include df-row();
  }
}

.home__column-lt {
  margin-bottom: 35px;
  @media (min-width: $s-lg) {
    @include df-col();
    margin-bottom: 0;
  }
}

.room-selection-column--left {
  width: 100%;
  background-color: $color--dark-blue;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  @media (min-width: $s-sm) {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (min-width: $screen-WQVGA) {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (min-width: $s-lg) {
    width: 285px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (min-width: $s-xxl) {
    width: 485px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.room-selection-column--left__top-texts {
  @media (min-width: $s-lg) {
    @include df-c();
  }
}

.room-selection-column--left__top-texts p {
  color: white;
  font-size: 1.5rem;
  line-height: 1em;
  font-weight: 100;
  text-align: center;
  @media (min-width: $screen-WQVGA) {
    font-size:1.875rem;
  }
  @media (min-width: $s-xxl) {
    font-size: 2.875rem;
  }
}

.feature-option--quick-talk {

  padding:40px 0 40px 0;

  @media (min-width: $s-xl) {
    padding:30px 0 30px 0;
  }

  @media (min-width: $s-xxl) {
    padding:20px 0 20px 0;
  }
}

.feature-option__icon-button {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-bottom: 20px;
  @include transition(background-color .2s ease);
  @media (min-width: $s-xl) {
    width: 120px;
    height: 120px;
  }
  @media (min-width: $s-xxl) {
    width: 150px;
    height: 150px;
  }
}

.setup-future-talk {
  /*background-image: url('/images/setup-talk.svg');*/
  background-color: $color--orange;
}

.open-quick-talk {
  background-color: $color--lawn-green;
}

div.open-quick-talk img {
  width:60%;
  height:auto;
}

.feature-option__icon-button:hover {
  background-color: $color--cornflower-blue;
}

.join-button label {
  pointer-events: none;
}

.feature-option__button {
  width: auto;
  display: block;
  font-size: 1rem;
  border: 2px solid #4285f4;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  background: none;
  cursor: pointer;
  margin-bottom: 6px;
  font-weight: 600;
  font-style: italic;
  @include transition(all .2s ease);
  @media (min-width: $s-xxl) {
    border-radius:30px;
    padding: 15px 30px;
  }
}

.start-new-talk__button {
  font-size: 1.75rem;
  border-radius: 40px;
  margin: 0 auto;
}

.feature-option__button:hover {
  border: 2px solid #5db8ff;
  opacity: .8;
}

.desc-invite {
  color: $color--cornflower-blue;
  text-align: center;
}

.feature-option--fake {
  height: 98px;
  display: none;
  @media (min-width: $s-xl) and (min-height:$screen-VGA) {
    height:198px;
    @include df();
  }
}

.copyright-note--desktop {
  display: none;
  color: white;
  text-align: center;
  @media (min-width: $s-lg) {
    display: block;
  }
}

.copyright-note--mobile {
  display: block;
  color: $color--dark-blue;
  @media (min-width: $s-lg) {
    display: none;
  }
}

.home__column-hw {
  width: 50%;
  @media (min-width: $s-lg) {
    width:auto;
  }
}

.copyright-note {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
}

.home__g2 {
  @media (min-width: $s-lg) {
    margin-left:36px;
  }
}

.home__g3 {
  @media (min-width: $screen-WXGA) {
    margin-left:28px;
  }
  @media (min-width: $s-lg) {
    margin-left: 46px;
  }
}

.home__g4 {
  @media (min-width: $s-xl) {
    margin-left:30px;
  }
}

.home__g3tg {

}

.home__arrow {
  height: 104px;
  position: absolute;
  display: none;
  bottom: -98px;
  left: -124px;
  @media (min-width: $s-lg) {
    /*display: block;*/
  }
  @media (min-width: $screen-HD) {
    height: 134px;
    left: -224px;
  }
}

.home__group {
  position: relative;
}

.home__group p {
  color: $color--dark-blue;
}

.home__text1 {
  font-size: 2rem;
  font-weight: 100;
  @media (min-width: $s-sm) {
    font-size:2.5rem;
  }
  @media (min-width: $s-lg) {
    font-size: 2.75rem;
  }
  @media (min-width: $s-xl) and (min-height:$screen-VGA) {
    font-size: 3.25rem;
  }
  @media (min-width: $s-xxl) {
    font-size: 4.15rem;
  }
}

.home__text2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 35px;
  @media (min-width: $s-xl) and (min-height:$screen-VGA) {
    font-size:2rem;
  }
  @media (min-width: $s-xxl) {
    font-size: 2.65rem;
  }
}

.home__text3 {
  font-size:2.55rem;
  @media (min-width: $s-sm) {
    font-size:3.25rem;
  }
}

.home__text4 {
  font-size: 1.5rem;
  font-weight: 200;
  margin-right: 10px;
  width: auto;
  @media (min-width: $s-lg) {
    width:auto;
  }
  @media (min-width: $s-xl) {
    font-size: 1.875rem;
  }
}

.home__text4-indent {
  width: 40px;
  display: inline-block;
  @media (min-width: $s-lg) {
    display: none;
  }
}

.home__text5 {
  font-size: .75rem;
  font-weight: 500;
}

p.home__text6 {
  font-size: .75rem;
  font-weight: 400;
  color: $color--cornflower-blue;
}

.home__text--need-quick {
  @media (min-width: $s-lg) {
    margin-left:45px;
  }
}

.home__text--g2t1 {
  @media (min-width: $s-lg) {
    margin-left:45px;
  }
}

.home__text--g2t2 {
  @media (min-width: $s-lg) {
    margin-left:175px;
  }
  @media (min-width: $s-xxl) {
    margin-left: 235px;
  }
}

.home__text--g3t1 {
  @media (min-width: $s-lg) {
    margin-left:75px;
  }
}

.home__link--one-click {
  color: white;
  background-color: $color--cornflower-blue;
  font-size: 1.5rem;
  line-height: 1em;
  font-weight: 200;
  border-radius: 2em;
  padding: 10px 15px;
  padding-bottom: 12px;
  margin-top: 20px;
  cursor: pointer;
  white-space: nowrap;
  @include transition(background-color .2s ease);
  @media (min-width: $s-lg) {
    margin-top:0;
    font-size: 1.875rem;
    padding: 10px 25px;
    padding-bottom: 12px;
  }
  @media (min-width: $s-xl) and (min-height:$s-md) {
    padding: 15px 25px;
    padding-bottom: 17px;
  }
}

.home__link--one-click:hover {
  color: white;
  text-decoration: none;
  background-color: $color--lawn-green;
}

.home__link2 {
  color: $color--dark-blue;
  font-size: .75rem;
  font-weight: 400;
  text-decoration: underline;
}

.home__column--rt {
  padding: 20px;
  @media (min-width: $s-lg) {
    margin-left: 100px;
    padding: 0;
  }
  @media (min-width: $s-xl) {
    margin-left: 0px;
  }
}

.room-selection-column--right__group-texts {
  margin-bottom: 30px;
  text-align: center;
  @media (min-width: $s-lg) {
    text-align: left;
    margin-bottom:0;
  }
}

.home__platform-icon--mobile {
  height: 55px;
  margin-right: 10px;
}

.home__platform-icon--desktop {
  height: 40px;
}

.room-selection-column--right__bottom-right {
  border: none;
  padding: 15px 30px;

}

.room-selection-column--right__bottom-right-desc p {
  text-align: center;
}

.room-selection-column--right__bottom-right-desc {
  margin-right: 15px;
}

.room-selection-column--right__group--bottom {
  margin: 0 auto;
  @media (min-width: $s-lg) {
    @include df-row();
    @include df-lc();
  }
}

.enjoy-quick-hellou {
  margin-bottom: 20px;
  @media (min-width: $s-lg) {
    margin-right:30px;
  }
}

.enjoy-quick-hellou__text {
  font-size: 1.15rem;
  font-weight: 400;
  margin-right: 15px;
  white-space: nowrap;
  @media (min-width: $s-xl) {
    font-size:1.625rem;
  }
  @media (min-width: $s-xxl) {
    font-size: 1.875rem;
  }
}

.enjoy-quick-hellou__span {
  height: 44px;
  width: 1px;
  background-color: $color--dark-blue;
  margin-right: 20px;
  @media (min-width: $s-lg) {
    height:54px;
  }
}

.enjoy-quick-hellou__icon {
  height: 54px;
  @media (min-width: $s-xl) {
    height:64px;
  }
}

.home__bottom-bar {
  background-color: white;
  border-top: 6px solid $color--cornflower-blue;
  width: 100%;
  padding-top: 42px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 22px;
  margin-top:40px;

  @media (min-width: $screen-WXGA) {
    padding-top: 22px;
    padding-right:30px;
    padding-left: 30px;
  }
  @media (min-width: $s-xl) and (min-height:$screen-VGA) {
    padding-top: 38px;
    padding-right: 38px;
    padding-left: 48px;
  }
}

.home__bottom-bar--left p {
  color: $color--dark-blue;
  font-size: 1.1rem;
  font-weight: 200;
  @media (min-width: $s-xl) {
    font-size: 1.25rem;
  }
}

.home__bottom-bar--left {
  margin-bottom: 20px;
  @media (min-width: $s-md) {
    padding-right:20px;
    margin-bottom: 0;
  }
}

.home__bottom-bar--right {
  @media (min-width: $s-md) {
    padding-left:20px;
  }
}

.home__bottom-bar--top {
  margin-bottom: 10px;
  @media (min-width: $s-md) {
    @include df-lc();
    @include df-row();
  }
  @media (min-width: $s-xl) and (min-height:$screen-VGA) {
    margin-bottom: 20px;
  }
}

.home__bottom-bar--bottom {
  margin-top: 40px;
  margin-bottom: 40px;
  @media (min-width: $s-md) {
    margin-top: 0px;
    margin-bottom:0;
    padding-left: 25px;
    padding-right: 25px;
    @include df();
    @include df-rc();
  }
}

.home__bottom-bar-text1 {
  margin-bottom: 10px;
}

.home__bottom-bar--bottom a {
  color: $color--dark-blue;
  font-size: .875rem;
  font-weight: 400;
  padding-right: 20px;
  white-space: nowrap;
  @media (min-width: $s-md) {
    padding-right:0;
    padding-left: 20px;
  }
}

.home__bottom-bar-link {
  cursor: pointer;
  width: 100%;
  @media (min-width: $s-md) {
    width:auto;
  }
}

.home__bottom-bar-link-text {
  color: $color--dark-blue;
  font-weight: 200;
  white-space: nowrap;
}

.home__bottom-bar-link-text1 {
  font-size: 1.375rem;
  @media (min-width: $screen-WXGA) {
    font-size:1.75rem;
  }
  @media (min-width: $s-xl) and (min-height:$screen-VGA) {
    font-size: 1.875rem;
  }
}

.home__bottom-bar-link-text2 {
  font-size: .75rem;
  @media (min-width: $screen-WXGA) {
    font-size:1rem;
  }
}

.home__bottom-bar-link {
  border: 2px solid $color--cornflower-blue;
  border-radius: 3em;
  padding: 15px 30px;
  @include transition(background-color .2s ease);
}

a.link--found-bug {
  padding-right: 20px;
  line-height: 2em;
  @media (min-width: $s-md) {
    padding-right: 0px;
    line-height: 1em;
  }
}

.home__bottom-bar-link:hover {
  background-color: $color--lawn-green;
  text-decoration: none;
}

.home__bottom-bar-link span {
  @include transition(color .2s ease);
}

.home__bottom-bar-link:hover span {
  color: white;
}

// videos
.view--videos {
  height: 100vh;
}

// text chat window
.text-chat-window {
  @include df();
  @include df-col();
  background: white;
  z-index: 201;
  background-color: #e2e2e2;
  padding-bottom: 50px;
}

.text-chat-window__header {
  width: 100%;
  padding: 10px;
  background-color: white;
}

.text-chat-window__label {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 !important;
  -ms-flex: 1 0 auto;
  flex: 1 0;
  color: white;
}

.text-chat-window__close {
  border-width: 1px;
  border-radius: 2em;
  padding: 5px 25px;
  font-size: .875rem;
  font-weight: 400;
  cursor: pointer;
}

.text-chat-window__messages {
  background-color: $color--white-smoke;
  padding: 10px;
  overflow-y: auto;
}

.text-chat-window__message {
  margin-bottom: 10px;
  width: 100%;
  position: relative;
}

.text-chat-window__message-content {
  padding: 14px 11px;
  border-radius: 6px;
  line-height: 1em;
  color: $color--dark-blue;
  font-size: .875rem;
  font-weight: 400;
  word-break: break-all;
}

.text-chat-window__message-content a {
  color: $color--cornflower-blue;
  text-decoration: underline;
  display: inline-block;
}

.text-chat-window__message-content-wrap {
  width: 100%;
}

.text-chat-window__message-content--outgoing {
  background-color: $color--ivory;
}

.text-chat-window__message-content--incoming {
  background-color: $color--white-smoke;
  border: 1px solid $color--ivory;
}

.text-chat-window__enter-message-box {
  background-color: #e2e2e2;
  padding: 10px;
  @media (min-width: $s-lg) {
    padding: 22px 26px;
  }
}

.text-chat-window__message-icon-wrap {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 8px;
  margin-top: 4px;
}

.text-chat-window__message-icon-wrap--outcoming:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color--cornflower-blue;
  border-radius: 50%;
}

.text-chat-window__message-icon {
  height: 50%;
  width: 50%;
  display: block;
  z-index: 1;
}

.text-chat-window__message-input {
  display: block;
  height: 80px;
  width: 100%;
  font-size: .875rem;
  padding: 10px;
  color: $color--dark-blue;
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

.text-chat-window__send-message-button {
  font-size: 1rem;
  border-width: 2px;
  border-radius: 2em;
  padding: 10px 25px;
}

.column--video {
  position: relative;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

.overlay-waiting {
  background-color: rgba(0, 0, 0, .8);
  z-index: 20;
}

.overlay-waiting-content {
  z-index: 201;
}

.overlay-waiting p {
  text-align: center;
  font-size: 1.25em;
  line-height: 1em;
  word-wrap: break-word;
  font-weight: 200;
  @media (min-width: $s-lg) {
    font-size:2.25em;
  }
}

.overlay-waiting-content__desc {
  color: white;
  margin-bottom: 20px;
}

.overlay-waiting-content__link {
  color: $color--cornflower-blue;
  text-decoration: underline;
  margin-bottom: 15px;
  font-size: 1em;
  text-align: center;
  @media (min-width: $screen-WXGA) {
    font-size:1.25em;
  }
  @media (min-width: $s-lg) {
    font-size: 2.25em;
  }
}

.invite-waiting-row {
  margin-bottom: 40px;
}

.invite-waiting-row--top {
  @media (min-width: $s-md) {
    @include df-lc();
    @include df-row();
  }
}

a.invite-waiting-button {
  padding: 7px 15px;
  border-width: 2px;
  border-radius: 30px;
  width: auto;
  background-color: transparent;
  color: white;
  font-size: .875rem;
  @media (min-width: $s-lg) {
    font-size:1.5em;
  }
}

a.invite-waiting-button:hover {
  color: white;
  text-decoration: none;
}

.invite-waiting-button__icon {
  height: 22px;
  display: block;
  margin-right: 10px;
}

.invite-waiting-row__text {
  color: white;
  @media (min-width: $s-lg) {
    margin-bottom: 0px;
    margin-right: 20px;
  }
}

a.invite-waiting-button--send-invitation:hover {
  background-color: $color--cornflower-blue;
}

a.invite-waiting-button--send-invitation {
  border-color: $color--cornflower-blue;
  font-weight: 300;
}

.invite-waiting-button--thanks {
  border-color: $color--red-orange;
  font-weight: 400;
}

a.invite-waiting-button--thanks:hover {
  background-color: $color--red-orange;
}

.button--setup-text-chat {
  @media (min-width: $s-lg) {
    display:none;
  }
}

.button--hangup {
  background-color: $color--red;
}

.send-invitation {
  z-index: 202;
  background-color: $color--dark-blue;
}

.send-invitation form {
  width: 280px;
  @media (min-width: $screen-WQVGA) {
    width:360px;
  }
  @media (min-width: $s-md) {
    width: 680px;
  }
}

.send-invitation button,
.send-invitation p {
  color: white;
}

input[type="radio"] { display: none; } 

input[type="radio"] + label { font-weight: 400; font-size: 20px; cursor: pointer; color:#ffffff;pointer-events: all;} 

input[type="radio"] + label span { display: inline-block; width: 21px; height: 21px; margin: -2px 10px 0 0; vertical-align: middle; cursor: pointer; -moz-border-radius: 50%; border-radius: 50%; border: 3px solid #ffffff; }

input[type="radio"] + label span { background-color: #fff; }

input[type="radio"]:checked + label { color: #80d100; font-weight: 400; }

input[type="radio"]:checked + label span { background-color: #80d100; border: 2px solid #ffffff; box-shadow: 2px 2px 2px rgba(0,0,0,.1); }

input[type="radio"] + label span, input[type="radio"]:checked + label span { -webkit-transition: background-color 0.24s linear; -o-transition: background-color 0.24s linear; -moz-transition: background-color 0.24s linear; transition: background-color 0.24s linear; }

.send-invitation__header {
  font-size: 1.75rem;
  font-weight: 100;
  margin-bottom: 10px;
  @media (min-width: $screen-WQVGA) {
    font-size:2.75rem;
  }
  @media (min-width: $s-md) {
    font-size: 3.75rem;
    margin-bottom: 40px;
  }
}

.send-invitation__subheader {
  font-weight: 100;
  margin-bottom: 5px;
  @media (min-width: $s-md) {
    font-size:1.5rem;
    margin-bottom: 10px;
  }
}

.send-invitation textarea {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
}

.send-invitation input[type='text'] {
  width: 100%;
  padding: 10px;
  font-weight: 400;
  border-radius: 15px;
  border: none;
  color: $color--dark-blue;
  margin-bottom: 20px;
  @media (min-width: $s-md) {
    margin-bottom:25px;
    font-size: 1.125rem;
  }
}

.send-invitation input[type='text'].js-error {
  background-color: lightpink;
}

.send-invitation__message-editable {
  background-color: white;
  color: $color--dark-blue;
  font-weight: 400;
  height: 100%;
  padding: 10px;
  border-radius: 15px;
  @media (min-width: $s-md) {
    font-size:1.125rem;
    padding: 22px;
  }
}

.send-invitation__message-box {
  margin-bottom: 10px;
  @media (min-width: $s-md) {
    margin-bottom:38px;
    max-height: 75%;
    height: 160px;
  }
  @media (min-width: $s-xl) and (min-height:$s-md) {
    height: 320px;
  }
}

.send-invitation__text-send {
  line-height: 1em;
  font-weight: 100;
  margin-bottom: 5px;
  @media (min-width: $s-md) {
    font-size:1.5rem;
    margin-bottom: 10px;
  }
}

.send-invitation__send-button {
  border-color: $color--red-orange;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 1.375rem;
  border-radius: 30px;
  background-color: transparent;
}

.send-invitation__send-button:hover {
  background-color: $color--red-orange;
  color: white;
}

.button--overlay.js-active {
  background-color: $color--red-orange;
}

.form--overlay.js-active {
  display: block;
}

.confirm-join-button {
  border-radius: 25px;
  padding: 10px 25px;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: $color--dark-blue;
  color: white;
  border: none;
}

.confirm-join-button:hover {
  background-color: $color--cornflower-blue;
}

// videos
.videos-wrap,
.video-columns-wrap {
  max-height: calc(100vh - 40px);
  @media (min-width: $s-md) {
    max-height:calc(100vh - 75px);
  }
}

.videos-wrap {
  @include transition(all .2s ease);
  width: 100%;
  height: 100%;
  position: absolute;
  max-height: calc(100vh - 40px);
  @media (min-width: $s-md) {
    max-height:calc(100vh - 75px);
  }
}

.video-columns-wrap.js-fullscreen,
.videos-wrap.js-fullscreen {
  max-height: 100vh;
}

.videos-wrap.active {
  @include transform(rotateY(0));
}

.rejoin-button {
  background-color: #f44336;
}

.new-room-button,
.rejoin-button {
  font-size: 0.75rem;
  font-weight: 400;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  white-space: nowrap;
  @media (min-width: $s-sm) {
    font-size:1.25rem;
    padding: 5px 20px;
  }
}

.rejoin-button {
  margin-right: 10px;
}

.text-left-call {
  color: white;
  display: none;
}

.rejoin-div {
  margin-right: 20px;
}

.subpage--wrap {
  padding: 40px;
  max-width: 800px;
  margin: 0 auto;
  color: #001588;
  >h1 {
    font-size: 2rem;
    font-weight: 100;
    margin-top: 20px;
    @media (min-width: $s-lg) {
      font-size: 3rem;
    }
  }
  >p {
    line-height: 2rem;
  }
}

.subpage--wrap .innerText {
  margin-left: 30px;
}

.subpage--wrap h1 {
  color: #001588;
}

.full-room {
  text-align: center;
  padding: 15% 0 0 0;
}

.full-room h1 {
  color: white;
  font-size: 1.75rem;
}

body.subpage {
  overflow-y: auto;
  background: #ffffff;
}

.button--setup-future-talk{
  display: none;
}

.feature-option--future-talk {
  margin-top: 20px;
  display: none;
}

.button--scheduler,
.button--scheduler:hover,
.button--scheduler label {
  text-decoration: none;
}

.clients-list {
  position:fixed;
  top:20px;
  right:20px;
  width:150px;
  height:250px;
  background-color:white;
  border:1px solid $color--dark-blue;
  z-index:21;
  padding:5px;
}

.clients-list ul {
  list-style: none;
  padding:0;
  margin:0;
}

.clients-list li {
 font-size:.75rem; 
}

.info-div {
  background-color: white;
}

.techstack-image {
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  margin-top:20px;
}

.techstack-header{
  margin:0 auto;
  font-size: 24px;
  color: #4285f4 !important;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top:40px;

  @media (min-width: $s-md) {    
    margin-top:0px;
  }  

}

.open-source-chat-image {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  margin-top: 41px;
}

.home__g3tg {
  
  flex-direction: column;
  text-align: center;

  @media (min-width: $s-md) {    
    flex-direction: row;
  }
}

.checkout-header {
  font-weight: 700;
  color: black !important;
  font-style: italic;
  font-size: 20px;
}

.github-image {
  width: 130px;
  margin: 10px;  
}

.github-texts {
  margin: 0 auto;
  flex-direction: column;
  margin-top:30px;

  @media (min-width: $s-md) {    
    flex-direction: row;
  }  
}

.github-texts:hover .checkout-header {
  text-decoration: none;
  color: #4285f4 !important;
}

.safe_proc p {
  font-size:1.5rem;

  @media (min-width: $s-md) {    
    font-size:2.5rem;
  }    
}