<html>

<body>
  <img src="{{console_app_url}}/images/logo.png" alt="quickhellou" />
  <h3>Hello <strong>{{username}}</strong>,</h3>
  <br />
  <p>You've registered to the <a href="{{console_app_url}}"></a> service.</p>
  <p>In order to log in please go to the <a href="{{console_app_url}}/login/"> login page</a>.</p>
  <br /><br />
  <p>You've set this <a href="{{ url }}">URL address</a> as your default widget domain.</p>
  <p>Please install the code on your <a href="{{ url }}">page</a> and manage you widget in the <a href="{{console_app_url}}/dashboard">console
      admin.</a></p>
  <br /><br />
  <p>Sincerely,</p>
  <p><a href="{{console_app_url}}">quickhellou</a> Team</p> 
</body>

</html>