{% load dashboard_extras %} {% load static %} {% if additional %}
{{ form_field.errors }}
<div
  class="df df-f1 flc time-row time-row--additional{% if form_field.value is None %} hidden{% endif %}"
  data-id="{{ day_id }}"
  data-index="{{ index }}"
>
{% endif %}
{% if not additional %}
{{ form_field.errors }}
{% endif %}
  <div
		data-index="{{ index }}"
		data-id="{{ day_id }}"
		data-day="{{ day }}"
		class="df df-f1 flc calendar__time-slot{% if not additional %} time-row{% endif %}"
	>
    <div class="flc time-row--clock-icon_wrap time-row--clock-icon"></div>
    <div class="flc calendar-time">
      <select
        data-id="from_hour_{{ day_id }}"
        class="time_select calendar__select--hour"
      >
        {% for hour in hours %}
          <option value="{{ hour }}"
            {% if hour in form_field.value|get_start_hour %}selected{% endif %}
          >{{ hour }}</option>
        {% endfor %}
      </select>
      :
      <select
        data-id="from_minutes_{{ day_id }}"
        class="time_select calendar__select--minutes"
      >
        {% for minute in minutes %}
          <option value="{{ minute }}"
            {% if minute in form_field.value|get_start_minutes %}selected{% endif %}
          >{{ minute }}</option>
        {% endfor %}
      </select>

      <select
        data-id="from_timeabbr_{{ day_id }}"
        data-day="{{ day }}"
        data-field="timeAbbreviation"
				class="time_select calendar__select--time-abbreviation"
      >
        <option value="AM"
        {% if "AM" in form_field.value|get_start_abbreviation %}selected{% endif %}
        >AM</option>
        <option value="PM"
        {% if "PM" in form_field.value|get_start_abbreviation %}selected{% endif %}
        >PM</option>
      </select>
    </div>

    <div class="fc calendar_to_between">
      <p>to</p>
    </div>

    <div class="flc calendar-time">
      <select
        data-id="to_hour_{{ day_id }}"
				class="time_select calendar__select--hour"
      >
        {% for hour in hours %}
          <option value="{{ hour }}"
            {% if hour in form_field.value|get_end_hour %}selected{% endif %}
          >{{ hour }}</option>
        {% endfor %}
      </select>
      :
      <select
        data-id="to_minutes_{{ day_id }}"
        class="time_select calendar__select--minutes"
      >
        {% for minute in minutes %}
          <option value="{{ minute }}"
            {% if minute in form_field.value|get_end_minutes %}selected{% endif %}
          >{{ minute }}</option>
        {% endfor %}
      </select>
      <select
        data-id="to_timeabbr_{{ day_id }}"
        class="time_select calendar__select--time-abbreviation"
      >
        <option value="AM"
        {% if "AM" in form_field.value|get_end_abbreviation %}selected{% endif %}
        >AM</option>
        <option value="PM"
        {% if "PM" in form_field.value|get_end_abbreviation %}selected{% endif %}
        >PM</option>
      </select>
    </div>

    <div class="frc time-row--delete-button_wrap">
      <a
        class="fc df-f1 calendar__button--delete-time-slot team__list-link list-link--delete delete-calendar-row"
        data-id="{{ day_id }}"
        aria-label="Delete"
        data-microtip-position="bottom"
        data-role="tooltip"
      >
        <img
          class="list-link--icon"
          src="{% static '/images/delete.svg' %}"
          alt="delete"
        />
      </a>
    </div>
  </div>
  {% if additional %}
</div>
{% endif %}
