{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Quick Hellou app">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <meta itemprop="description" content="Quick Hellou app">

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'videochat/images/icons/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">

  <meta itemprop="image" content="{% static 'videochat/images/icons/android-icon-192x192.png' %}">

  <meta itemprop="name" content="Quick Hellou">
  <meta name="mobile-web-app-capable" content="yes">

  <base target="_blank">

  <title>Quick Hellou | Private Policy</title>

  <link rel="manifest" href="{% static 'videochat/manifest.json' %}">
  <link rel="icon" type="image/svg+xml" href="{% static 'videochat/images/icons/favicon.svg' %}" />
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'videochat/images/icons/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'videochat/images/icons/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'videochat/images/icons/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'videochat/images/icons/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'videochat/images/icons/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'videochat/images/icons/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'videochat/images/icons/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'videochat/images/icons/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'videochat/images/icons/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'videochat/images/icons/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'videochat/images/icons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'videochat/images/icons/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'videochat/images/icons/favicon-16x16.png' %}">
  <link rel="canonical" href="{{ canonical }}">
  
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,300i,400,500,600" rel="stylesheet">
  <script src="{% static 'videochat/js/quickhellou.bundle.js' %}"></script>
</head>

<body class="subpage">

  <div class="subpage--wrap">
    <img class="logo-image" src="{% static 'videochat/images/hellou-quick.svg' %}" alt="Quick Hellou">
    <br/>

    <h1>private policy</h1>

    <p>
      <div id='ppBody'>
        <div style='clear:both;height:10px;'></div>
        <div>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable
          Information' (PII) is being used online. PII, as described in US privacy law and information security, is information
          that can be used on its own or with other information to identify, contact, or locate a single person, or to identify
          an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect,
          use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
          <br/>
        </div>
        <span id='infoCo'></span>
        <br/>
        <div class='grayText'>
          <strong>What personal information do we collect from the people that visit our blog, website or app?</strong>
        </div>
        <br />
        <div class='innerText'>We do not collect information from visitors of our site.</div>
      <br/>
      <div class='grayText'>
        <strong>When do we collect information?</strong>
      </div>
      
      <br/>Provide us with feedback on our products or services
      <br />

      <span id='infoUs'></span>
      <br/>
      <div class='grayText'>
        <strong>How do we use your information? </strong>
      </div>
      <br />
      <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>&bull;</strong> To improve our website in order to better serve you.</div>
      <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>&bull;</strong> To allow us to better service you in responding to your customer service requests.</div>
      <span id='coUs'></span>
      <br/>
      <div class='grayText'>
        <strong>Do we use 'cookies'?</strong>
      </div>
      <br />
      <div class='innerText'>We do not use cookies for tracking purposes </div>
      <div class='innerText'>
        <br/>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all
        cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help
        Menu to learn the correct way to modify your cookies.
        <br/>
      </div>
      <br/>
      <div class='innerText'>If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.that
        make your site experience more efficient and may not function properly.</div>
      <br/>
      <span id='trDi'></span>
      <br/>
      <div class='grayText'>
        <strong>Third-party disclosure</strong>
      </div>
      <br />
      <div class='innerText'>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</div>
      <span
        id='trLi'></span>
        <br/>
        <div class='grayText'>
          <strong>Third-party links</strong>
        </div>
        <br />
        <div class='innerText'>We do not include or offer third-party products or services on our website.</div>
        <span id='gooAd'></span>
        <br/>
        <div class='blueText'>
          <strong>Google</strong>
        </div>
        <br />
        <div class='innerText'>We use Google Analytics on our website.</div>
        <div class='innerText'>
          <br/>Google, as a third-party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie enables
          it to serve ads to our users based on previous visits to our site and other sites on the Internet. Users may opt-out
          of the use of the DART cookie by visiting the Google Ad and Content Network privacy policy.
          <br/>
        </div>
        <div class='innerText'>
          <br/>
          <strong>We have implemented the following:</strong>
        </div>
        <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <strong>&bull;</strong> Demographics and Interests Reporting</div>
        <br/>
        <div class='innerText'>We, along with third-party vendors such as Google use first-party cookies (such as the Google Analytics cookies)
          and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data
          regarding user interactions with ad impressions and other ad service functions as they relate to our website. </div>
        <div
          class='innerText'>
          <br/>
          <strong>Opting out:</strong>
          <br/>Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you
          can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt Out
          Browser add on.</div>
  <span id='calOppa'></span>
  <br/>
  <div class='blueText'>
    <strong>California Online Privacy Protection Act</strong>
  </div>
  <br />
  <div class='innerText'>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy.
    The law's reach stretches well beyond California to require any person or company in the United States (and conceivably
    the world) that operates websites collecting Personally Identifiable Information from California consumers to post a
    conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies
    with whom it is being shared. - See more at: <a herf="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf" target="_blank">http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</a>
    <br/>
  </div>
  <div class='innerText'>
    <br/>
    <strong>According to CalOPPA, we agree to the following:</strong>
    <br/>
  </div>
  <div class='innerText'>Users can visit our site anonymously.</div>
  <div class='innerText'>Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant
    page after entering our website.
    <br/>
  </div>
  <div class='innerText'>Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.</div>
  <div class='innerText'>
    <br/>You will be notified of any Privacy Policy changes:</div>
  <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>&bull;</strong> On our Privacy Policy Page
    <br/>
  </div>
  <div class='innerText'>Can change your personal information:</div>
  <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>&bull;</strong> By emailing us</div>
  <div class='innerText'>
    <br/>
    <strong>How does our site handle Do Not Track signals?</strong>
    <br/>
  </div>
  <div class='innerText'>We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism
    is in place. </div>
  <div class='innerText'>
    <br/>
    <strong>Does our site allow third-party behavioral tracking?</strong>
    <br/>
  </div>
  <div class='innerText'>It's also important to note that we do not allow third-party behavioral tracking</div>
  <span id='coppAct'></span>
  <br/>
  <div class='blueText'>
    <strong>COPPA (Children Online Privacy Protection Act)</strong>
  </div>
  <br />
  <div class='innerText'>When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online
    Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection
    agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's
    privacy and safety online.
    <br/>
    <br/>
  </div>
  <div class='innerText'>We do not specifically market to children under the age of 13 years old.</div>
  <div class='innerText'>Do we let third-parties, including ad networks or plug-ins collect PII from children under 13?</div>
  <span id='ftcFip'></span>
  <br/>
  <div class='blueText'>
    <strong>Fair Information Practices</strong>
  </div>
  <br />
  <div class='innerText'>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include
    have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information
    Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect
    personal information.
    <br/>
    <br/>
  </div>
  <div class='innerText'>
    <strong>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach
      occur:</strong>
  </div>
  <div class='innerText'>We will notify the users via in-site notification</div>
  <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>&bull;</strong> Within 7 business days</div>
  <div class='innerText'>
    <br/>We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable
    rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals
    have enforceable rights against data users, but also that individuals have recourse to courts or government agencies
    to investigate and/or prosecute non-compliance by data processors.</div>
  <span id='canSpam'></span>
  <br/>
  <div class='blueText'>
    <strong>CAN SPAM Act</strong>
  </div>
  <br />
  <div class='innerText'>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives
    recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
    <br/>
    <br/>
  </div>
  <div class='innerText'>
    <strong>We collect your email address in order to:</strong>
  </div>
  <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>&bull;</strong> Send information, respond to inquiries, and/or other requests or questions</div>
  <div class='innerText'>
    <br/>
    <strong>To be in accordance with CANSPAM, we agree to the following:</strong>
  </div>
  <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>&bull;</strong> Not use false or misleading subjects or email addresses.</div>
  <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>&bull;</strong> Identify the message as an advertisement in some reasonable way.</div>
  <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>&bull;</strong> Include the physical address of our business or site headquarters.</div>
  <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>&bull;</strong> Monitor third-party email marketing services for compliance, if one is used.</div>
  <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>&bull;</strong> Honor opt-out/unsubscribe requests quickly.</div>
  <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>&bull;</strong> Allow users to unsubscribe by using the link at the bottom of each email.</div>
  <div class='innerText'>
    <strong>
      <br/>If at any time you would like to unsubscribe from receiving future emails, you can email us at</strong>
  </div>
  <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>&bull;</strong> Follow the instructions at the bottom of each email.</div> and we will promptly remove you from
  <strong>ALL</strong> correspondence.</div>
  <br/>
  <span id='ourCon'></span>
  <br/>
  <div class='blueText'>
    <strong>Contacting Us</strong>
  </div>
  <br />
  <div class='innerText'>If there are any questions regarding this privacy policy, you may contact us using the information below.
    <br/>
    <br/>
  </div>
  <div class='innerText'>GenB, Inc.</div>
  <div class='innerText'>1740 Wisconsin Ave NW Suite B</div>
  <div class='innerText'>Washington, DC, VA 20007</div>
  <div class='innerText'>USA</div>
  <div class='innerText'><a href="mailto:say@quickhellou.com">say@quickhellou.com</a></div>
  <div class='innerText'>+1 (202) 657 4362</div>
  <div class='innerText'>
    <br/>Last Edited on 2018-03-09</div>
  </div>
  </p>
  </div>

</body>

</html>