{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Quick Hellou app">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <meta itemprop="description" content="Quick Hellou app">

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'videochat/images/icons/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">

  <meta itemprop="image" content="{% static 'videochat/images/icons/android-icon-192x192.png' %}">

  <meta itemprop="name" content="Quick Hellou">
  <meta name="mobile-web-app-capable" content="yes">

  <base target="_blank">

  <title>Quick Hellou | Terms of Use</title>

  <link rel="manifest" href="{% static 'videochat/manifest.json' %}">
  <link rel="icon" type="image/svg+xml" href="{% static 'videochat/images/icons/favicon.svg' %}" />
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'videochat/images/icons/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'videochat/images/icons/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'videochat/images/icons/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'videochat/images/icons/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'videochat/images/icons/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'videochat/images/icons/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'videochat/images/icons/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'videochat/images/icons/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'videochat/images/icons/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'videochat/images/icons/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'videochat/images/icons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'videochat/images/icons/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'videochat/images/icons/favicon-16x16.png' %}">
  <link rel="canonical" href="{{ canonical }}">
  
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,300i,400,500,600" rel="stylesheet">
  <script src="{% static 'videochat/js/quickhellou.bundle.js' %}"></script>  
</head>

<body class="subpage">

      <div class="subpage--wrap">
	      <img class="logo-image" src="{% static 'videochat/images/hellou-quick.svg' %}" alt="Quick Hellou">
	      <br/>
	      
	      <h1>terms of use</h1>
	      
			<h3>Terms</h3>
			<p>By accessing the website at <a href="http://www.quickhellou.com">http://www.quickhellou.com</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
			<h3>Use License</h3>
			<ol type="a">
			   <li>Permission is granted to temporarily download one copy of the materials (information or software) on GenB, Inc.'s website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
			   <ol type="i">
			       <li>modify or copy the materials;</li>
			       <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
			       <li>attempt to decompile or reverse engineer any software contained on GenB, Inc.'s website;</li>
			       <li>remove any copyright or other proprietary notations from the materials; or</li>
			       <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
			   </ol>
			    </li>
			   <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by GenB, Inc. at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
			</ol>
			<h3>Disclaimer</h3>
			<ol type="a">
			   <li>The materials on GenB, Inc.'s website are provided on an 'as is' basis. GenB, Inc. makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
			   <li>Further, GenB, Inc. does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
			</ol>
			<h3>Limitations</h3>
			<p>In no event shall GenB, Inc. or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on GenB, Inc.'s website, even if GenB, Inc. or a GenB, Inc. authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
			<h3>Accuracy of materials</h3>
			<p>The materials appearing on GenB, Inc. website could include technical, typographical, or photographic errors. GenB, Inc. does not warrant that any of the materials on its website are accurate, complete or current. GenB, Inc. may make changes to the materials contained on its website at any time without notice. However GenB, Inc. does not make any commitment to update the materials.</p>
			<h3>Links</h3>
			<p>GenB, Inc. has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by GenB, Inc. of the site. Use of any such linked website is at the user's own risk.</p>
			<h3>Modifications</h3>
			<p>GenB, Inc. may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>
			<h3>Governing Law</h3>
			<p>These terms and conditions are governed by and construed in accordance with the laws of Washington, DC and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
	     
	  </div>
          
</body>

</html>