/** Login */

.container {
  height:100%;
  position: relative;
  z-index: 0;
}

.m-form__button--login {
  margin-bottom:50px;
}

.m-logo__image svg {
  display: block;
  height:70px;  
  margin:0 auto;
  margin-bottom:20px;

  @media (min-width: $s-lg) {
    height:110px;
  }  
}

.m-logo__description {
  margin:0 auto;
  text-align: center;
}

.m-logo__description p {
  font-family:'Raleway';
  color:$color--resolution-blue;
  font-size:1.5rem;
  margin-top:10px;
  margin-bottom:30px;
  letter-spacing: -1px;

  @media (min-width: $s-lg) {
    font-size:2rem;
    margin-top:20px;
    margin-bottom:40px;  
  }  

}

.m-logo__description span {
  font-weight:700;
}

.form__container {
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,.2);
  background-color: #fff;
  border-radius: 15px;
  padding:34px;

  @media (min-width: $s-lg) {
    padding:60px;
  }  

}

.form--login__container,
.form--forgot-password__container,
.form--reset-password__container,
.form--signup__container {
  margin:0 auto;
  width:320px;

  @media (min-width: $s-lg) {
    width:420px;
  }  

}

.login__input {
  width:300px;  
}

.form--login__input {
  font-weight:500; 
}

.form__label {
  color:lightgray;
}

.form--login__label {
  font-weight:600;
}

.login__forgot-password {
  font-family:'Raleway';
  color:$color--resolution-blue;
  font-size:.75rem;
  text-decoration: underline;
}

.login__email {
  margin-bottom:15px;
}

.login__password {
  margin-bottom:50px;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color:grey;
}

.mdc-text-field .mdc-text-field__input {
  caret-color: $color--resolution-blue;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__path {
  stroke:$color--resolution-blue;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color:$color--resolution-blue;
}

// signup 

.signup {
  width:100%;
  margin-top:78px;
  padding-bottom:80px;

  @media (min-width: $s-lg) {
    width:800px;
  }
}

.form--signup__container {
  max-width:100%;
  @media (min-width: $s-lg) {
    width:800px;
  }
}

.signup__submit {
  padding:15px 40px;
  border-radius: 30px; 
} 

.signup__submit-note {
  font-size:.875rem;
  color:$color--resolution-blue;
  font-weight:500;
}

.signup__submit-note a {
  color:$color--resolution-blue;
}

.mdc-text-field--outlined .mdc-notched-outline,
.mdc-text-field--outlined.signup__callpage-url .mdc-notched-outline__idle {
  border-top-left-radius:0;
  border-bottom-left-radius:0;
}


// password views

.form--reset-password__submit,
.form--forgot-password__submit {
  padding:10px 30px;
  border-radius: 20px;
}

.form--password__mdc-text-field {
  width:100%;
}

.form--user-activation__container {
  width:100%;
  
}

.form--login__container {
  margin:0 auto;
  margin-bottom:40px;
  background-color: #f6f9ff;
}

.wrapper--login {
  position: relative;
}

/*
.container::before {
  position: absolute;
  content: "";
  background-image: url("/static/images/qh-mark2.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  width: 700px;
  height: 600px;
  z-index: -1;
  top: 0;
  right: 0;
}
*/

.signup__submit,
.form--forgot-password__submit,
.login__submit {
  padding:15px 25px;
  border-radius: 40px;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.05);;
  text-align: center;
}
