//
/*
.iti-flag {background-image: url("/static/app/images/flags.png");}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .iti-flag {background-image: url("/static/app/images/flags@2x.png");}
}
*/
//

.form__header {
  font-size:.875rem;
}

.form__column {
  width:100%;
  margin-bottom: 15px;

  @media (min-width: $s-lg) {
    width:50%;    
  }    

}

.form__column--left {
  @media (min-width: $s-lg) {
    padding-right:15px;
  }
}

.form__column--right {
  @media (min-width: $s-lg) {
    padding-left:15px;
  }
}