$s-xs:		480px;
$s-sm:		576px;
$s-md:		768px;
$s-lg:		992px;
$s-xl:		1200px;
$s-xxl:		1600px;

$s-mobile:	 900px;

$screen-WQVGA:400px;
$screen-VGA: 640px;
$screen-WGA: 800px;
$screen-XGA: 1024px;
$screen-XGAP: 1152px;
$screen-WXGA: 1280px;
$screen-HD: 1366px;
$screen-WXGAP: 1440px;
$screen-HDP: 1600px;
$screen-FHD: 1920px;
$screen-DCI2K: 2048px;
$screen-FHD: 1920px;
$screen-QHD: 2560px;
$screen-UHD4K: 3840px;

$color--pacific-blue:#0198cd;
$color--iris-blue:#00add7;
$color--summer-sky:#33abd3;
$color--summer-sky-light:#40C2E2;
$color--light-cyan:#c5eefc;
$color--dark-orange:#001588;
$color--apricot:#fcd4a5;
$color--white-smoke:#f5f5f5;
$color--white-smoke-alt:#f6f6f6;
$color--white:#fafafa;
$color--light-grey:#d6d6d6;
$color--dark-grey:#9e9e9e;
$color--paris-m:#272362;
$color--resolution-blue:#001588;
$color--tory-blue:#0a1f93;
$color--nero:#2a2a2a;

$color--green:#00a100;
$color--lawn-green:#7FD100;

$mdc-typography-font-family: 'Raleway';

$mdc-theme-primary: $color--dark-orange;
$mdc-theme-secondary: white;
$mdc-theme-on-primary: white;
$mdc-theme-on-secondary: $color--nero;
$mdc-theme--primary-bg:#ff0;
$mdc-theme--background:$color--dark-orange;

$spacing-outer:24px;
$spacing-outer-large:42px;
$spacing-outer-paragraph:$spacing-outer-large*2;
$max-content-semi-width:975px;
$max-content-width:1250px;
$spacing-default: 20px;

$header-index:5;
$landing-screen-index:6;
$contents-wrapper-index:7;

$menu-tall-height:128px;
$menu-short-height:88px;
$menu-tiny-height:55px;