$color--red-orange:#ff8e01;
$color--kelly-green:#35ae1d;
$color--deep-sky-blue:#00a9f0;

$mdc-theme-primary: $color--resolution-blue;
$mdc-theme-secondary: $color--tory-blue;
$mdc-theme-on-primary: $color--red-orange;
$mdc-theme-on-secondary: #442b2d;