.scheduler {
  padding-bottom: $spacing-outer;
  background-color: $color--dark-blue;
  z-index: 6;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: $s-md) {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.scheduler__content {
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

.scheduler__content h1 {
  margin-bottom: $spacing-outer;
}

.calendar {
  position: relative;
  margin-bottom: 40px;
  @media (min-width: $s-md) {
    @include df-row;
    height: 290px;
  }
}

.form__content {
  margin-bottom: $spacing-inner;
  @media (min-width: $s-lg) {
    @include df-lt;
    @include df-row;
  }
}

.calendar__minutes h4,
.calendar__hours h4 {
  font-size: 14px;
}

.calendar__highlight {
  background-color: $color--red-orange;
  padding: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  @media (min-width: $s-md) {
    max-width: 110px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    @include df-col;
  }
}

.highlight__text {
  color: white;
}

.highlight__year {
  font-weight: 300;
  line-height: 1em;
  margin-right: 20px;
  @media (min-width: $s-md) {
    font-size: 1.25rem;
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.highlight__date-time {
  font-weight: 600;
  line-height: 1.1em;
  @media (min-width: $s-md) {
    font-size: 1.675rem;
  }
}

.calendar__time {
  max-height: 290px;
  background-color: white;
  padding: 15px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  @media (min-width: $s-md) {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
  }
}

.calendar__time-column {
  width: 50%;
  height: 100%;
  overflow-x: hidden;
}

.calendar__time-column--left {
  margin-right: 10px;
}

.calendar__time-column--right {
  margin-left: 10px;
}

.time__list {
  width: 100%;
  height: 221px;
  overflow-y: auto;
}

.time__list::-webkit-scrollbar {
  display: none;
}

.time-entry {
  text-align: center;
  width: 32px;
  line-height: 32px;
  cursor: pointer;
}

.time-entry:hover {
  background-color: $color--cornflower-blue;
}

.time-entry.js-active {
  background-color: $color--red-orange;
}

.time-entry:hover,
.time-entry.js-active {
  border-radius: 50%;
  color: white;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.checkbox {
  opacity: 0;
  position: absolute;
  min-width: 32px;
  min-height: 32px;
  cursor: pointer;
}

.checkbox+label {
  position: relative;
  cursor: pointer;
  padding: 0;
  color: white;
  font-family: 'Raleway';
  font-weight: 100;
  font-size: 1.025rem;

  @media (min-width: $s-sm) {
    font-size: 1.125rem;
  }  
}

.checkbox+label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  min-width: 32px;
  min-height: 32px;
  background: white;
  border-radius: 12px;
}

.checkbox:hover+label:before {
  background: #f35429;
}

.checkbox:focus+label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.checkbox:checked+label:before {
  background: #f35429;
}

.checkbox:disabled+label {
  color: #b8b8b8;
  cursor: auto;
}

.checkbox:disabled+label:before {
  box-shadow: none;
  background: #ddd;
}

.checkbox:checked+label:after {
  content: '';
  position: absolute;
  left: 8px;
  top: 14px;
  background-color: white;
  width: 4px;
  height: 4px;
  box-shadow: 3px 0 0 white, 6px 0 0 white, 6px -3px 0 white, 6px -6px 0 white, 6px -9px 0 white, 6px -12px 0 white;
  transform: rotate(45deg);
}

.send-invitation__header {
  margin-bottom: $spacing-inner;
  @media (min-width: $s-md) {
    @include df-lc;
    @include df-row;
  }
}

.send-invitation__header h3 {
  margin-bottom: $spacing-inner;
  @media (min-width: $s-md) {
    margin-bottom:0;
  }
}

.send-invitation__email-wrap,
.talk-topic__description-wrap {
  position: relative;
}

.send-invitation__email {
  border-radius: 25px;
  width: 100%;
  font-size: 1.375rem;
  font-weight: 400;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-family: 'Raleway';
  margin-bottom: 16px;
}

textarea[name='description'] {
  resize: none;
  width: 100%;
  height: 290px;
  border-radius: 10px;
  padding: 20px;
  font-size: 1.25rem;
}

.date-time {
  order: 2;
  
  @media (min-width: $s-lg) {
    order:1;
    margin-right: 20px;
  }
}

.talk-topic {
  order: 1;
  margin-bottom: $spacing-inner;
  @media (min-width: $s-lg) {
    order:2;
    margin-left: 20px;
    margin-bottom: 0;
  }
}

.error {
  color: $color--red;
  font-weight: 600;
  display: none;
  position: absolute;
  top: -18px;
}

.error.js-active {
  display: block;
}

.send-invitation__submit {
  margin-bottom: $spacing-outer;
  @media (min-width: $s-lg) {
    margin-bottom:0;
  }
}

.calendar__picker {
  background: white;
}

.google-calendar {
  padding-left:10px;
}