.button {
  color:white;
  background-color:transparent;
  border:2px solid $color--red-orange;
  border-radius:24px;
  padding:10px 36px;
  font-size:1.375rem;
  font-weight:300;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline:none;
  cursor:pointer;
  @include transition(background-color .2s ease);
}

.button label {
  pointer-events: none; 
}

.button:hover {
  background-color:$color--red-orange;
}
