<html>
<html>
<body>
  <img src="{{console_app_url}}/static/images/logo.png" alt="quickhellou" >
  <h3>You've rejected the appointment.</h3>
  <p><b>Customer Name:</b></p>
  <p><b>{{ name }}</b></p>
  <br/>
  <p><b>Customer Email:</b></p>
  <p><b>{{ email }}</b></p>
  <br/>
  <p><b>Appointment Date:</b></p>
  <p><b>{{ datetime }}</b></p>
  <br/>
  <p><b>Message:</b></p>
  <p><b>{{ message }}</b></p>
  <br/>
  <p><b>The Appointment Link URL:</b></p>
  <p><b>{{ videochat_url }}</b></p>
  <br/>
</body>
</html>