.form--dashboard__submit {
  padding: 10px 30px;
  border-radius: 50px;
  border-color:$color--green;
  color:white;
}

.content-box {
  border-radius: 10px;
  border:1px solid $color--dark-orange;
}

.content-box__topbar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding:6px;
  background-color: $color--dark-orange;
  width:100%;
}

.content-box__header {
  font-size:.75rem;
  color: white;
  font-weight: 600;
}

.content-box__content {
  padding:10px;
}

.link-button {
  font-size:.75rem;
  font-weight: 600;
  display: inline-block;
  font-family: 'Raleway';
  font-weight: 600;
  color: white;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color .2s ease, color .2s ease;
}

.link-button:hover {
  color: $color--resolution-blue;
}

.form__subheader--column {
  margin-right:10px;
}

.content-box__block {
  margin-bottom:10px;
}

a.list-header__button {
  cursor:pointer;
  color:$color--green;
  font-weight:700;
  text-transform: uppercase;
  text-decoration:none;
}

.list-header__element.js-hidden {
  display: none;
}

a.a--theme-primary {
  text-decoration: none;
  color: $color--resolution-blue;
  font-size: .875rem;
  font-weight: 600;
}

a.a--theme-primary:hover {
  text-decoration: underline;
  color: $color--dark-orange;
}