$color--red-orange:#e5332a;
$color--light-orange:#ffedd7;
$color--kelly-green:#35ae1d;
$color--deep-sky-blue:#00a9f0;
$color--light-blue:#f1f6ff;

$mdc-theme-primary: $color--resolution-blue;
$mdc-theme-secondary: $color--tory-blue;
$mdc-theme-on-primary: $color--red-orange;
$mdc-theme-on-secondary: #442b2d;