<div class="f1 fcol fc qh_rate-ux-content">
  <div class="qh_widget-closer qh_widget-closer--active-operator qh_widget-closer--rate-ux">
    <svg class="widget-closer__image" height="24px" viewBox="0 0 24 24" width="24px" fill="#ffffff">
      <path d="M0 0h24v24H0V0z" fill="none" opacity=".87"/>
      <path d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm3.59-13L12 10.59 8.41 7 7 8.41 10.59 12 7 15.59 8.41 17 12 13.41 15.59 17 17 15.59 13.41 12 17 8.41z"/>
    </svg>
  </div>
  <div class="fc el-group qh_rate-ux--top qh_tight">
    <div>
      <div class="active-user-form__thumbnail avatar"></div> 
    </div>
    <div class="flc qh-widget-ext__contact-form-body">
      <div class="fcol fc">
        <p class="widget__form-label active-user__form-label qh_text--chat-ended">Your chat has ended.</p>
        <p class="widget__form-sublabel active-user__form-sublabel qh_text--thank-you">Thank You!</p>
      </div>
    </div>
  </div>
  <div class="fc el-group qh_tight">
    <div class="fcol fc">
      <p class="qh_rate-desc" >Rate your satisfaction</p>
      <div class="flc">
        {% include "embed/rate_button.html" %}
        {% include "embed/rate_button.html" %}
        {% include "embed/rate_button.html" %}
        {% include "embed/rate_button.html" %}
        {% include "embed/rate_button.html" %}
      </div>
    </div>
  </div>
</div>