{% load static %}
<!doctype html>
<html lang='en'>
<head>
  <title>schedule widget test</title>
  <meta charset='utf-8'>
  <meta content='width=device-width, initial-scale=1' name='viewport'>
  <script>!function(e){var r=e.getElementsByTagName("script")[0],c=e.createElement("script");c.type="text/javascript",c.async=!0,c.src="https://localhost:8081/dashboard/widget_content_script/3",r.parentNode.insertBefore(c,r);c=e.createElement("script");c.type="text/javascript",c.async=!0,c.src="https://localhost:8081/static/js/widget_embed.js",r.parentNode.insertBefore(c,r)}(document)</script>
</head>
<body></body>
</html>