{% spaceless %}
<script src="{{ video_app_url }}/static/videochat/js/adapter-latest.js"></script>
<script src="{{ video_app_url }}/static/videochat/js/quickhellou.js" defer></script>
{# <link rel="stylesheet" type="text/css" href="{{ video_app_url }}/static/videochat/css/quickhellou.css"> #}
<div class="qh-root" data-id="{{ widget_id }}" data-url="{{ console_app_url }}" style="opacity:0;">
<div id="qh_w_frame" class="qh-widget-badge js-top">
  <!-- widget base -->
  {% include "embed/widget_base.html" %}
  <!-- widget extension element -->
  <div id="qh_e_frame" class="qh-widget-ext">
    <div class="qh qh-widget-ext__content" style="background-color:#{{ background_color }}">
      <!-- active operator module -->
      <div class="fcol qh_module qh_module--active-operator">
        <!-- active operator -> init form -->
        <div class="fcol qh_submodule qh_submodule--init-form qh-widget-ext__contact-form js-enabled">
          {% include "embed/active_operator_form.html" %}
        </div>
        <!-- active operator -> video -->
        <div class="fcol qh_submodule qh_submodule--video-chat video-ui__stage ui-view__stage--call-accepted">
          {% include "embed/video.html" %}
        </div>
        <!-- active operator -> rate ux -->
        <div class="fcol qh_submodule qh_submodule--rate-ux video-ui__stage">
          {% include "embed/rate_ux.html" %}
        </div>
      </div>
      <!-- inactive operator form -->
      <div class="qh_module qh_module--inactive-form js-enabled">
        <div class="contact-form qh-widget-ext__contact-form">
          {% include "embed/contact_details_form.html" %}
          {% include "embed/schedule_meeting.html" %}
        </div>
      </div>
    </div>
  </div>
</div>
{% include "embed/bottom_bar.html" %}
{% endspaceless %}