<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="mobile-web-app-capable" content="yes">
  <base target="_blank">
  <title>Home</title>
  <link rel="manifest" href="/manifest.json">
  <link rel="canonical" href="{{ canonical }}">
</head>

<body>
  <a class="home__link--one-click button--quick-talk">Open video chat</a>
  {{ include_rtstats_js }}
</body>

</html>
