{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="QuickHellou, lets you do just that: connect for a quick video chat with anyone you like. No accounts to setup and no hoops to jump through, with a single click of the mouse, you’re up and running with a sharable link to a private video chat room.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta itemprop="description" content="QuickHellou, lets you do just that: connect for a quick video chat with anyone you like. No accounts to setup and no hoops to jump through, with a single click of the mouse, you’re up and running with a sharable link to a private video chat room.">

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <meta itemprop="image" content="/images/icons/android-icon-192x192.png">

  <meta itemprop="name" content="Quick Hellou">
  <meta name="mobile-web-app-capable" content="yes">

  <base target="_blank">

  <title>Quick Hellou | open source video meeting scheduling made easy</title>

  <link rel="manifest" href="{% static '/manifest.json' %}">
  <link rel="icon" type="image/svg+xml" href="{% static '/images/icons/favicon.svg' %}" />
  <link rel="apple-touch-icon" sizes="57x57" href="{% static '/images/icons/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static '/images/icons/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static '/images/icons/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static '/images/icons/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static '/images/icons/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static '/images/icons/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static '/images/icons/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static '/images/icons/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/icons/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static '/images/icons/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/icons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static '/images/icons/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/icons/favicon-16x16.png' %}">
  <link rel="canonical" href="{{ canonical }}">

  <!-- loader code -->
  <style>
    body *,
    body:after,
    body:before {
      box-sizing: border-box;
    }

    html,
    body,
    main {
      padding: 0;
      margin: 0;
      width: 100%;
      min-height: 100%;
      overflow-x: hidden;
    }

    @media(min-width:992px) {
      html,
      body,
      main {
        height: 100%;
        overflow-y: hidden;
      }
    }

    div.loader,
    div.loader:after {
      border-radius: 50%;
      width: 48px;
      height: 48px
    }

    div.loader {
      z-index: 1;
      margin: auto;
      font-size: .25rem;
      position: fixed;
      top: calc(50% - 24px);
      left: calc(50% - 24px);
      text-indent: -9999em;
      border-right: .3em solid #80d100;
      border-bottom: .3em solid #001588;
      border-top: .3em solid #001588;
      border-left: .3em solid #80d100;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation: load8 1.1s infinite linear;
      animation: load8 1.1s infinite linear
    }

    @-webkit-keyframes load8 {
      0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
      }
      to {
        -webkit-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        transform: rotate(1turn)
      }
    }

    @keyframes load8 {
      0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
      }
      to {
        -webkit-transform: rotate(1turn);
        -ms-transform: rotate(1turn);
        transform: rotate(1turn)
      }
    }
  </style>
  <script src="{% static '/js/home.js' %}" defer></script>
  <link rel="stylesheet" type="text/css" href="{% static '/css/quickhellou.css' %}">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24219456-8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-24219456-8');
  </script>


</head>

<body>
  <div class="main" style="opacity:0;">
    <!-- Home View -->
    <div class="df df-col room-selection view view--room-selection">
      <div class="df df-col view-column view-column--left room-selection-column--left">
              <div class="df home__column-lt">

                <div class="df df-c logo-image-wrap home__column-hw">
                  <img class="logo-image" src="{% static '/images/hellou-quick-white.svg' %}" alt="Quick Hellou">
                </div>
                <div class="df df-f1 df-col df-rc room-selection-column--left__top-texts home__column-hw">
                  <div class="df df-col df-c safe_proc">
                    <p>100% free</p>
                    <p>and secure</p>
                    <p>video chats</p>
                  </div>
                </div>
              </div>
              <div class="df df-f1 df-col df-ct room-id-input-buttons">                
                <div class="df df-col df-c feature-option feature-option--quick-talk">
                  <div class="df df-c feature-option__icon-button open-quick-talk button--quick-talk">
                    <img src="{% static '/images/quick-talk-blue.svg' %}" alt="Quick Hellou">
                  </div>
                  <button class="feature-option__button join-button button--quick-talk">
                    <label>
                      Start a Video Chat
                    </label>
                  </button>
                  <p class="desc-invite">
                    with Screen Sharing
                  </p>
                </div>
                <div class="df df-f1"></div>
              </div>
              <p class="copyright-note copyright-note--desktop">
                Quick Hellou by <a href="http://www.genb.com" target="_blank" rel="noopener">GenB</a><br/>Open Source (MIT License) <a href="https://github.com/genbinc/quickhellou">Check out @ Github</a>
              </p>
            </div>
            <div class="df df-ct df-col df-f1 view-column room-selection-column--right home-column-right">

              <div class="df df-row home__g1 menu-top">

                <div class="df df-f1 df-row">

                  <div class="flc">
                    <img class="qh-icon-top" src="{% static '/images/qh-icon-orange.svg' %}" alt="QH Icon">
                  </div>                
  
                  <div class="flc top-texts-menu df-f1">
                    <p><strong><a class="top-link-signup" href="http://console.qhellou.com/signup/">Sign up</a> to setup</strong> your custom video chat scheduling bubble on your webpage!</p>
                  </div>
  
                </div>

                <div class="flc top-menu-buttons">
                  <a href="http://console.qhellou.com" class="top-menu-link">Log In</a>
                  <a href="http://console.qhellou.com/signup/" class="top-menu-link button-sign-up">Sign Up</a>
                </div>
              </div>
              <div class="df df-col df-f1 home__column--rt">
                <div class="df df-f1"></div>
                <div class="df df-col home__g1 home__group room-selection-column--right__group-texts qh-brand-home-row">

                  <div class="df qh-brand-home-row_wrap">
                    <img class="open-source-chat-image" src="{% static '/images/open-source-videochat.svg' %}" alt="Open Source">                    
                    <img class="open-source-chat-brand" src="{% static '/images/qh-brand-mark.png' %}" alt="Open Source">                                      
                  </div>

                </div>
                <div class="df df-f1"></div>

                
                <div class="df flc df-col home__g3 home__group room-selection-column--right__group-texts">


                  <p class="home__text3 home__text--g3t1">Video Meetings Scheduler</p>
                  <div class="df df-lc home__g3tg">
                    <div class="df df-lc">
                      <p class="home__text4">
                        easy to integrate with your webpage
                      </p>
                    </div>
                    <a class="home__link--one-click" href="http://console.qhellou.com/signup/">Sign Up</a>
                  </div>

                </div>
                <div class="df df-f1"></div>

                
                
                <div class="df df-f1"></div>
              </div>
              <div class="home__bottom-bar">
                <div class="df df-col home__bottom-bar--top">


                  <div class="df df-col home__g2 home__group room-selection-column--right__group-texts">
                    <img class="techstack-image" src="{% static '/images/techstack-logos.png' %}" alt="Open Source">                    
                      
                  </div>
                  <div class="df df-f1"></div>
                  <a href="https://github.com/GenBInc/quickhellou" target="_blank" class="df flc df-row home__g2 home__group github-texts">
                    <p class="checkout-header">Check Out at</p>
                    <img class="github-image" src="{% static '/images/githib-logo.png' %}" alt="Github">                    
                      
                  </a>

                  <!--
                  <div class="df df-col df-c home__g4 home__group room-selection-column--right__group--bottom">
                    <div class="df df-lc enjoy-quick-hellou">
                      <p class="enjoy-quick-hellou__text">enjoy a</p>
                      <div class="enjoy-quick-hellou__span"></div>
                      <div class="enjoy-quick-hellou__icon-wrap">
                        <img class="enjoy-quick-hellou__icon" src="{% static '/images/hellou-quick.svg' %}" alt="quick hellou icon">
                      </div>
                    </div>
    
                    <div class="df df-lc room-selection-column--right__bottom-right">
                      <div class="df df-col df-c room-selection-column--right__bottom-right-desc">
                        <p class="home__text5">Works in every modern browser</p>
                        <p class="home__text6">on and across any device
                          <br/>no installation, configuration or
                          <br/> registration required,</p>
                        <a class="home__link2 button--quick-talk">just one click</a>
                      </div>
                      <div class="df df-lc">
                        <div class="mobile">
                          <img class="home__platform-icon home__platform-icon--mobile" src="{% static '/images/mobile.svg' %}" alt="mobile icon">
                        </div>
                        <div class="desktop">
                          <img class="home__platform-icon home__platform-icon--desktop" src="{% static '/images/desktop.svg' %}" alt="desktop icon">
                        </div>
                      </div>
                    </div>
                  </div>

                  -->
  
                </div>
                <div class="privacy home__bottom-bar--bottom">
                  <a class="link--found-bug" href="/problem" rel="noopener">Have a problem or found a bug?</a>
                  <a href="/contact" target="_blank" rel="noopener">Contact</a>
                </div>
  
                <p class="copyright-note copyright-note--mobile">
                  Quick Hellou by <a href="http://www.genb.com" target="_blank" rel="noopener">GenB</a><br/>Open Source (MIT License) <a href="https://github.com/genbinc/quickhellou">Check out @ Github</a>
                </p>
              </div>
            </div>
      </div>
  </div>
  <div class="loader"></div>
  {{ include_rtstats_js }}
</body>

</html>
